@media only screen and (max-device-width: 730px) {
    body,html {
        overflow-x:hidden;
    } 
    
    #headerMenu > li > a:hover > span:first-child {
        color: #fff;
    }
    
    #selectionMapContainer #zoomRange {
        display:none;
    }
    #selectionMapContainer #zoomControlMinus {
        margin-top:5px;
    }
}

@media only screen and (max-width: 730px) {
    
    /* General */
    .backgroundContainer {
        width:100%;
        margin:0 auto;
    }
    
    #logo {
    }
    #logo img {
        max-width: 470px;
    }
    
    #main {
        overflow-x:hidden;
    }
    
    /*  Header */
    
    #nav {

    }
    
    .feedbackButton {
        position:absolute;
    }
    .feedbackButton.fixed {
        position:absolute;
        top:40px;
    }
    
    #header {
        margin-top:0px;
    }
    
    #headerTop .grid_12 {
        width: 440px;
    }
    
    .header-home #searchFormHeader {
        padding-top: 10px;
    }
    
    #searchFormHeader #searchFormContainer {
        padding: 10px 0;
    }
    
    #headerTop .grid_8 {
        width: 260px;
    }
    #headerTop .lang {
        margin:0;
    }
    #headerTop .grid_4 {
        position: absolute;
        right: 0;
        top: 4px;
        width: 230px;
    }
    .header-home #headerTop .grid_4 {
        right:120px;
    }

    #headerBottom > .grid_8 {
        position: absolute;
        left:167px;
    }
    
    .menuLogin {
        padding-left:0;
        border-left:0;
        margin-top:13px;
        clear:both;
    }
    
    #headerMenu .menuLogin_fi ul.subNav {
        left: 5px;
        top: 68px;
    }
    
    #nav .lang {
        position:absolute;
        right:5px;
    }
    
    .menuHome a span {
        top: -5px;
    }
    a.feedbackButton {
        display:none;
    }
    #blurb {
        margin-top:20px;
    }
    #blurb h2 {
        font-size: 1.86em;
    }
    #blurb h3 {
        font-size:1.15em;
    }
    #headerBottom .grid_14.static {
        width: 430px;
        margin-left: 0;
    }
    #headerBottom .grid_8,
    .content .infoBoxText.grid_8 {
        width:300px;
        z-index:2;
    }
    
    div.breadcrumbs {
        padding: 0;
        margin-top:6px;
    }
    
    .advanced-link-wrapper a {
        float:right;
        margin-top:10px;
        margin-left:20px;
    }
    
    
    /* Header: Search Box */
    .content .searchFormWrapper.grid_16 {
        width: 470px;
    }
    .content .advanced-link-wrapper.grid_7 {
        width: auto;
        margin:0;
        left: 0;
        float:right;
    }
    #searchForm_input {
        width:195px;
    }
    a.clear_input { 
        left:205px !important;
    }
    
    /* Front page */
    
    #introduction {
        margin-bottom:-1px; /* fix for gray horizontal line */
        padding:0;
    }
   
    ul.documentTypes li {
        float: left;
        line-height: 1.7em;
        width: 47%;
    }
    #introduction .grid_9.documentTypes {
        width:100%;
    }
    #content-carousel {
        display:none;
    }
    #introduction .grid_10 {
        margin: 0;
        width: 100%;
    }
    #introduction ul {
        clear:both;
        font-size:1.230em;
    }
    
    #introduction.section #siteDescription, 
    #topSearches {
        border-right:none;
    }
    
    #introduction.section div.grid_10 > div {
        padding:10px 20px 30px;
    }
    #popular-map {
        padding-top:0;
    }
    
    #popular-map.section.noCarousel .content {
        border:none;
    }
    
    
    
    #introduction.section div.grid_14 {
        clear:both;
        width:470px;
        margin-bottom:0;
        padding-bottom:0;
    }
    #introduction.section div.grid_14 #siteDescription {
        padding:10px 20px 20px;
    }
    #introduction.section div.grid_10 {
        margin: 0 5px;
        overflow: visible;
        padding-bottom: 0;
        width: 470px;
    }
    
    #introduction.section div.grid_10,
    #introduction.section div.grid_14 {
        border-bottom:6px solid #ddd;
    }
    
    #popularSearches ul {
        width:180px;
        
    }
    #popular-map .grid_10 {
        display:none;
    }
    #popular-map .grid_14 {
        margin: 0;
        padding: 10px 30px 30px;
        width: 470px;
    }
    #popular-map #topSearches {
        padding:0;
    }
    #popular-map.section.noCarousel .content {
        padding-top:0;
    }
    #popular-map.section .content {
        margin-top:0;
    }
    #carouselContainer {
        display:none;
    }
    #nav {
        font-size:1.18em;
    }
    
    /* Search results */
    
    #resultList.grid_17 {
        width:470px;
    }
    .content .resultColumn2.grid_11 {
        width:300px;
    }
    
    /* Search results: header */
    
    .keepFilters {
        clear: left;
        top: 13px;
    }
    
    .resultDatesHeader  {
        display:none;
    }
    .currentPage > span:first-child {
        display:none;
    }
    .resultOptions label {
        display:none;
    }
    .resultOptionSort {
        margin-right:5px;
    }
    
    /* Search results: bottom */
    .advSearchContent, #authorList, #resultsCollection, #bottomPagination, .searchtools {
        float: left;
        margin: 0 5px;
        width: 460px;
    }
    
    .searchtools > ul li {
        margin-left: 15px;
    }
    
    
    /* Search results: sidebar */
    
    #sidebarFacets.grid_6 {
        width:470px;
    }
    span.dynatree-node .facetTitle,
    ul.filters span {
        max-width:300px;
    }
    .dynatree-facet,
    .sidegroup .filters,
    .sidegroup .navmenu dd{
        font-size:125%;
    }
    .sidegroup dl.collapsible.collapsed dt,
    .sidegroup dl.collapsible dt {
        background-position:103% 50%;
    }
    #sidebarFacets .jumpToFacets {
        color:#fff;
        background:#00A3B5;
        display:block;
        border-top-left-radius:10px;
        cursor:pointer;
        font-size: 1em;
        padding: 10px;
        right:0;
        position:fixed;
        bottom:0;
        z-index:2000;
        margin:0;
    }
    
    /* Advanced search */
    #searchHolder .group {
        padding:8px;
    }
    #advSearchForm .groupSearchDetails select {
        max-width: 155px;
    }
    
    .groupSearchHolder .terms {
        width: 110px;
    }
    
    #zoomSlider {
        left: 12px;
        top: 67px;
    }
    
    /* Record */
    .module-Record div.record, .module-MetaLib div.record {
        margin-top: 2em;
    }
    .content .resultscroller.grid_5.push_7 {
        width:130px;
        left:100px;
    }
    .recordcover {
        max-width:110px;
    }
    .citation th { 
        width:100px;
    }
    #resultSide {
        width:120px;
    }
    #resultMain .grid_12 {
        width:330px;
    }
    #resultSidebar {
        display:none;
    }
    
    /* Myresearch */
    
    .ui-tabs .ui-tabs-nav li a {
        padding-left:5px;
        padding-right:5px;
    }
    
    /* Content */
    .module-Content #main > .menu {
        display:none;
    }
    .module-Content #main .content .grid_17 {
        width:470px;
        padding-left:0;
    }
    
    /* Tabs */
    
    .ui-tabs  .ui-tabs-nav > li {
        border-bottom-left-radius:7px;
        border-bottom-right-radius:7px;
        margin: 0 3px 3px 0 !important;
    }
    
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
        padding-bottom:0;
    }
    .savedHistory .delete {
        display: inline-block;
        text-indent: -9999px;   
    }
    table.datagrid {
        table-layout:fixed;
        font-size:.830em;
        margin-top:0;
    }
    table.datagrid th { 
        padding-left:2px;
        padding-right:5px;
        text-align:center !important;
        width:auto !important;
    }
    table.datagrid td {
        padding: 1px 5px;
        width:auto !important;
        text-align:center !important;
    }
    table.datagrid tr td:first-child {
        text-align:left !important;
    }
    table.datagrid tr td.fineBalance {
        text-align:right !important;
    }
    .myResearchMenu {
        padding: 10px 0;
    }
    
    #dyntabnav .ui-tabs-panel {
        border-top: none;
        margin-top: 0;
    }
    .ui-tabs .ui-tabs-nav li {
        border-bottom:3px solid #B3E3E9 !important;
    }
    /* Footer */
    
    #footer {
        text-align:center;
    }
    
    .footerLogo img[alt="KDK-logo"] {
        margin-left:15px;
    }
    
    /* Modal boxes */
    
    body > div.ui-dialog { 
        max-width:380px;
    }
    
    /*
      960 Grid System ~ Core CSS.
      Learn more ~ http://960.gs/

      Licensed under GPL and MIT.
    */

    /*
      Forces backgrounds to span full width,
      even if there is horizontal scrolling.
      Increase this if your layout is wider.

      Note: IE6 works fine without this fix.
    */

    body {
      min-width: 480px;
    }

    /* `Container
    ----------------------------------------------------------------------------------------------------*/

    .content {
      margin-left: auto;
      margin-right: auto;
      width: 480px;
    }
    
    /* Dropper (full width on mobile) */
    
    .content *[class*="grid"].drop {
        width:100%;
        clear:both;
    }
    
    /* No margin (only to be used with droppers) */
    
    .content *[class*="grid"].drop.nomargin {
        margin-left:0;
        margin-right:0;
    }
    
    /* Align left or right without the default 5px border */
    
    .content *[class*="grid"].push_right {
        margin-right:0;
        margin-left:10px;
    }
    
    .content *[class*="grid"].push_left {
        margin-right:10px;
        margin-left:0;
    }

    /* `Grid >> Global
    ----------------------------------------------------------------------------------------------------*/

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16,
    .grid_17,
    .grid_18,
    .grid_19,
    .grid_20,
    .grid_21,
    .grid_22,
    .grid_23,
    .grid_24 {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
    }

    .push_1, .pull_1,
    .push_2, .pull_2,
    .push_3, .pull_3,
    .push_4, .pull_4,
    .push_5, .pull_5,
    .push_6, .pull_6,
    .push_7, .pull_7,
    .push_8, .pull_8,
    .push_9, .pull_9,
    .push_10, .pull_10,
    .push_11, .pull_11,
    .push_12, .pull_12,
    .push_13, .pull_13,
    .push_14, .pull_14,
    .push_15, .pull_15,
    .push_16, .pull_16,
    .push_17, .pull_17,
    .push_18, .pull_18,
    .push_19, .pull_19,
    .push_20, .pull_20,
    .push_21, .pull_21,
    .push_22, .pull_22,
    .push_23, .pull_23 {
      position: relative;
    }

    /* `Grid >> Children (Alpha ~ First, Omega ~ Last)
    ----------------------------------------------------------------------------------------------------*/

    .alpha {
      margin-left: 0;
    }

    .omega {
      margin-right: 0;
    }

    /* `Grid >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .grid_1 {
      width: 10px;
    }

    .content .grid_2 {
      width: 30px;
    }

    .content .grid_3 {
      width: 50px;
    }

    .content .grid_4 {
      width: 70px;
    }

    .content .grid_5 {
      width: 90px;
    }

    .content .grid_6 {
      width: 110px;
    }

    .content .grid_7 {
      width: 130px;
    }

    .content .grid_8 {
      width: 150px;
    }

    .content .grid_9 {
      width: 170px;
    }

    .content .grid_10 {
      width: 190px;
    }

    .content .grid_11 {
      width: 210px;
    }

    .content .grid_12 {
      width: 230px;
    }

    .content .grid_13 {
      width: 250px;
    }

    .content .grid_14 {
      width: 270px;
    }

    .content .grid_15 {
      width: 290px;
    }

    .content .grid_16 {
      width: 310px;
    }

    .content .grid_17 {
      width: 330px;
    }

    .content .grid_18 {
      width: 350px;
    }

    .content .grid_19 {
      width: 370px;
    }

    .content .grid_20 {
      width: 390px;
    }

    .content .grid_21 {
      width: 410px;
    }

    .content .grid_22 {
      width: 430px;
    }

    .content .grid_23 {
      width: 450px;
    }

    .content .grid_24 {
      width: 470px;
    }

    /* `Prefix Extra Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .prefix_1 {
      padding-left: 10px;
    }

    .content .prefix_2 {
      padding-left: 30px;
    }

    .content .prefix_3 {
      padding-left: 50px;
    }

    .content .prefix_4 {
      padding-left: 70px;
    }

    .content .prefix_5 {
      padding-left: 90px;
    }

    .content .prefix_6 {
      padding-left: 110px;
    }

    .content .prefix_7 {
      padding-left: 130px;
    }

    .content .prefix_8 {
      padding-left: 150px;
    }

    .content .prefix_9 {
      padding-left: 170px;
    }

    .content .prefix_10 {
      padding-left: 190px;
    }

    .content .prefix_11 {
      padding-left: 210px;
    }

    .content .prefix_12 {
      padding-left: 230px;
    }

    .content .prefix_13 {
      padding-left: 250px;
    }

    .content .prefix_14 {
      padding-left: 270px;
    }

    .content .prefix_15 {
      padding-left: 290px;
    }

    .content .prefix_16 {
      padding-left: 310px;
    }

    .content .prefix_17 {
      padding-left: 330px;
    }

    .content .prefix_18 {
      padding-left: 350px;
    }

    .content .prefix_19 {
      padding-left: 370px;
    }

    .content .prefix_20 {
      padding-left: 390px;
    }

    .content .prefix_21 {
      padding-left: 410px;
    }

    .content .prefix_22 {
      padding-left: 430px;
    }

    .content .prefix_23 {
      padding-left: 450px;
    }

    /* `Suffix Extra Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .suffix_1 {
      padding-right: 10px;
    }

    .content .suffix_2 {
      padding-right: 30px;
    }

    .content .suffix_3 {
      padding-right: 50px;
    }

    .content .suffix_4 {
      padding-right: 70px;
    }

    .content .suffix_5 {
      padding-right: 90px;
    }

    .content .suffix_6 {
      padding-right: 110px;
    }

    .content .suffix_7 {
      padding-right: 130px;
    }

    .content .suffix_8 {
      padding-right: 150px;
    }

    .content .suffix_9 {
      padding-right: 170px;
    }

    .content .suffix_10 {
      padding-right: 190px;
    }

    .content .suffix_11 {
      padding-right: 210px;
    }

    .content .suffix_12 {
      padding-right: 230px;
    }

    .content .suffix_13 {
      padding-right: 250px;
    }

    .content .suffix_14 {
      padding-right: 270px;
    }

    .content .suffix_15 {
      padding-right: 290px;
    }

    .content .suffix_16 {
      padding-right: 310px;
    }

    .content .suffix_17 {
      padding-right: 330px;
    }

    .content .suffix_18 {
      padding-right: 350px;
    }

    .content .suffix_19 {
      padding-right: 370px;
    }

    .content .suffix_20 {
      padding-right: 390px;
    }

    .content .suffix_21 {
      padding-right: 410px;
    }

    .content .suffix_22 {
      padding-right: 430px;
    }

    .content .suffix_23 {
      padding-right: 450px;
    }

    /* `Push Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .push_1 {
      left: 10px;
    }

    .content .push_2 {
      left: 30px;
    }

    .content .push_3 {
      left: 50px;
    }

    .content .push_4 {
      left: 70px;
    }

    .content .push_5 {
      left: 90px;
    }

    .content .push_6 {
      left: 110px;
    }

    .content .push_7 {
      left: 130px;
    }

    .content .push_8 {
      left: 150px;
    }

    .content .push_9 {
      left: 170px;
    }

    .content .push_10 {
      left: 190px;
    }

    .content .push_11 {
      left: 210px;
    }

    .content .push_12 {
      left: 230px;
    }

    .content .push_13 {
      left: 250px;
    }

    .content .push_14 {
      left: 270px;
    }

    .content .push_15 {
      left: 290px;
    }

    .content .push_16 {
      left: 310px;
    }

    .content .push_17 {
      left: 330px;
    }

    .content .push_18 {
      left: 350px;
    }

    .content .push_19 {
      left: 370px;
    }

    .content .push_20 {
      left: 390px;
    }

    .content .push_21 {
      left: 410px;
    }

    .content .push_22 {
      left: 430px;
    }

    .content .push_23 {
      left: 450px;
    }

    /* `Pull Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .pull_1 {
      left: -10px;
    }

    .content .pull_2 {
      left: -30px;
    }

    .content .pull_3 {
      left: -50px;
    }

    .content .pull_4 {
      left: -70px;
    }

    .content .pull_5 {
      left: -90px;
    }

    .content .pull_6 {
      left: -110px;
    }

    .content .pull_7 {
      left: -130px;
    }

    .content .pull_8 {
      left: -150px;
    }

    .content .pull_9 {
      left: -170px;
    }

    .content .pull_10 {
      left: -190px;
    }

    .content .pull_11 {
      left: -210px;
    }

    .content .pull_12 {
      left: -230px;
    }

    .content .pull_13 {
      left: -250px;
    }

    .content .pull_14 {
      left: -270px;
    }

    .content .pull_15 {
      left: -290px;
    }

    .content .pull_16 {
      left: -310px;
    }

    .content .pull_17 {
      left: -330px;
    }

    .content .pull_18 {
      left: -350px;
    }

    .content .pull_19 {
      left: -370px;
    }

    .content .pull_20 {
      left: -390px;
    }

    .content .pull_21 {
      left: -410px;
    }

    .content .pull_22 {
      left: -430px;
    }

    .content .pull_23 {
      left: -450px;
    }

    /* `Clear Floated Elements
    ----------------------------------------------------------------------------------------------------*/

    /* http://sonspring.com/journal/clearing-floats */

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

    .clearfix:before,
    .clearfix:after,
    .content:before,
    .content:after {
      content: '.';
      display: block;
      overflow: hidden;
      visibility: hidden;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
    }

    .clearfix:after,
    .content:after {
      clear: both;
    }

    /*
      The following zoom:1 rule is specifically for IE6 + IE7.
      Move to separate stylesheet if invalid CSS is a problem.
    */

    .clearfix,
    .content {
      zoom: 1;
    }
}