@media only screen and (max-device-width: 760px) {
    body,html {
        overflow-x:hidden;
    } 
}

@media only screen and (max-width: 760px) {
    
    /* General */
    .backgroundContainer {
        width:100%;
        margin:0 auto;
        background-size: 1020px auto;
    }
    
    #logo {
    }
    #logo img {
        max-width: 710px;
    }
    
    /*  Header */
    
    .feedbackButton {
        position:absolute;
    }
    .feedbackButton.fixed {
        position:absolute;
        top:40px;
    }
    
    #headerTop .grid_12 {
        width: 440px;
    }
    
    .header-home #searchFormHeader {
        padding-top: 20px;
    }
    
    #headerTop .grid_8 {
    width: 260px;
    }
    #headerTop .lang {
        margin:0;
    }
    #headerTop .grid_4 {
        position: absolute;
        right: 0;
        top: 4px;
        width: 230px;
    }
    .header-home #headerTop .grid_4 {
        right:120px;
    }

    #headerBottom > .grid_8 {
        position: absolute;
        left:480px;
    }
    
    .menuLibCard {
        padding-left:0;
        border-left:0;
        margin-top:13px;
    }
          
    
    /* Header: Search Box */
    
    #searchForm_input {
        width:195px;
    }
    a.clear_input { 
        left:205px !important;
    }
    
    /* Front page */
    
    #introduction ul {
        width:230px;
    }
    
    ul.documentTypes li {
        float: none;
        width: 100%;
    }
    
    #content-carousel {
        display:none;
    }
    
    #introduction ul {
        clear:both;
        font-size:1.230em;
    }
    
    #popularSearches ul {
        width:180px;
        
    }
    
    /* Search results: header */
    
    .dateVis { 
        width:720px;
    }
    
    /* Search results: sidebar */
    
    span.dynatree-node .facetTitle {
        max-width:110px;
    }
    
    .sidegroup .dynatree-title {
        white-space:normal;
    }
    
    /* Advanced seach */
    #searchHolder .group {
        padding:8px;
    }
    #advSearchForm .groupSearchDetails select {
        max-width: 155px;
    }
    
    .groupSearchHolder .terms {
        width: 110px;
    }
    
    #zoomSlider {
        left: 12px;
        top: 67px;
    }
    
    /* Record */
    
    .recordcover {
        max-width:110px;
    }
    .citation th { 
        width:100px;
    }
    
    /* Myresearch */
    
    .ui-tabs .ui-tabs-nav li a {
        padding-left:5px;
        padding-right:5px;
    }
    
    /* Footer */
    
    #footer {
        text-align:center;
    }
    
    /*
      960 Grid System ~ Core CSS.
      Learn more ~ http://960.gs/

      Licensed under GPL and MIT.
    */

    /*
      Forces backgrounds to span full width,
      even if there is horizontal scrolling.
      Increase this if your layout is wider.

      Note: IE6 works fine without this fix.
    */

    body {
      min-width: 480px;
    }

    /* `Container
    ----------------------------------------------------------------------------------------------------*/

    .content {
      margin-left: auto;
      margin-right: auto;
      width: 480px;
    }
    
    /* Dropper (full width on mobile) */
    
    .content *[class*="grid"].drop {
        width:100%;
        clear:both;
    }
    
    /* No margin (only to be used with droppers) */
    
    .content *[class*="grid"].drop.nomargin {
        margin-left:0;
        margin-right:0;
    }
    
    /* Align left or right without the default 5px border */
    
    .content *[class*="grid"].push_right {
        margin-right:0;
        margin-left:10px;
    }
    
    .content *[class*="grid"].push_left {
        margin-right:10px;
        margin-left:0;
    }

    /* `Grid >> Global
    ----------------------------------------------------------------------------------------------------*/

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
    }

    .push_1, .pull_1,
    .push_2, .pull_2,
    .push_3, .pull_3,
    .push_4, .pull_4,
    .push_5, .pull_5,
    .push_6, .pull_6,
    .push_7, .pull_7,
    .push_8, .pull_8,
    .push_9, .pull_9,
    .push_10, .pull_10,
    .push_11, .pull_11 {
      position: relative;
    }

    /* `Grid >> Children (Alpha ~ First, Omega ~ Last)
    ----------------------------------------------------------------------------------------------------*/

    .alpha {
      margin-left: 0;
    }

    .omega {
      margin-right: 0;
    }

    /* `Grid >> 12 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .grid_1 {
      width: 20px;
    }

    .content .grid_2 {
      width: 60px;
    }

    .content .grid_3 {
      width: 100px;
    }

    .content .grid_4 {
      width: 140px;
    }

    .content .grid_5 {
      width: 160px;
    }

    .content .grid_6 {
      width: 220px;
    }

    .content .grid_7 {
      width: 260px;
    }

    .content .grid_8 {
      width: 300px;
    }

    .content .grid_9 {
      width: 340px;
    }

    .content .grid_10 {
      width: 380px;
    }

    .content .grid_11 {
      width: 420px;
    }

    .content .grid_12 {
      width: 460px;
    }

    /* `Prefix Extra Space >> 12 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .prefix_1 {
      padding-left: 40px;
    }

    .content .prefix_2 {
      padding-left: 80px;
    }

    .content .prefix_3 {
      padding-left: 120px;
    }

    .content .prefix_4 {
      padding-left: 160px;
    }

    .content .prefix_5 {
      padding-left: 200px;
    }

    .content .prefix_6 {
      padding-left: 240px;
    }

    .content .prefix_7 {
      padding-left: 280px;
    }

    .content .prefix_8 {
      padding-left: 320px;
    }

    .content .prefix_9 {
      padding-left: 360px;
    }

    .content .prefix_10 {
      padding-left: 400px;
    }

    .content .prefix_11 {
      padding-left: 440px;
    }

    /* `Suffix Extra Space >> 12 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .suffix_1 {
      padding-right: 40px;
    }

    .content .suffix_2 {
      padding-right: 80px;
    }

    .content .suffix_3 {
      padding-right: 120px;
    }

    .content .suffix_4 {
      padding-right: 160px;
    }

    .content .suffix_5 {
      padding-right: 200px;
    }

    .content .suffix_6 {
      padding-right: 240px;
    }

    .content .suffix_7 {
      padding-right: 280px;
    }

    .content .suffix_8 {
      padding-right: 320px;
    }

    .content .suffix_9 {
      padding-right: 360px;
    }

    .content .suffix_10 {
      padding-right: 400px;
    }

    .content .suffix_11 {
      padding-right: 440px;
    }

    /* `Push Space >> 12 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .push_1 {
      left: 40px;
    }

    .content .push_2 {
      left: 80px;
    }

    .content .push_3 {
      left: 120px;
    }

    .content .push_4 {
      left: 160px;
    }

    .content .push_5 {
      left: 200px;
    }

    .content .push_6 {
      left: 240px;
    }

    .content .push_7 {
      left: 280px;
    }

    .content .push_8 {
      left: 320px;
    }

    .content .push_9 {
      left: 360px;
    }

    .content .push_10 {
      left: 400px;
    }

    .content .push_11 {
      left: 440px;
    }

    /* `Pull Space >> 12 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .pull_1 {
      left: -40px;
    }

    .content .pull_2 {
      left: -80px;
    }

    .content .pull_3 {
      left: -120px;
    }

    .content .pull_4 {
      left: -160px;
    }

    .content .pull_5 {
      left: -200px;
    }

    .content .pull_6 {
      left: -240px;
    }

    .content .pull_7 {
      left: -280px;
    }

    .content .pull_8 {
      left: -320px;
    }

    .content .pull_9 {
      left: -360px;
    }

    .content .pull_10 {
      left: -400px;
    }

    .content .pull_11 {
      left: -440px;
    }

    /* `Clear Floated Elements
    ----------------------------------------------------------------------------------------------------*/

    /* http://sonspring.com/journal/clearing-floats */

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

    .clearfix:before,
    .clearfix:after,
    .content:before,
    .content:after {
      content: '.';
      display: block;
      overflow: hidden;
      visibility: hidden;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
    }

    .clearfix:after,
    .content:after {
      clear: both;
    }

    /*
      The following zoom:1 rule is specifically for IE6 + IE7.
      Move to separate stylesheet if invalid CSS is a problem.
    */

    .clearfix,
    .content {
      zoom: 1;
    }
}