@media only screen and (max-device-width: 1020px) {
    body,html {
        overflow-x:hidden;
    } 
    
    #headerMenu > li > a:hover > span:first-child {
        color: #fff;
    }
    
    #selectionMapContainer #zoomRange {
        display:none;
    }
    #selectionMapContainer #zoomControlMinus {
        margin-top:5px;
    }
}

@media only screen and (max-width: 1020px) {

    /* General */
    .backgroundContainer {
        width:100%;
        margin:0 auto;
    }
    
    #logo {
    }
    #logo img {
        max-width: 710px;
    }
    
    /*  Header */
    
    .feedbackButton {
        position:absolute;
    }
    
    .logged-in .feedbackButton {
        right: 5px;
        top: 36px;
        border-radius:10px;
    }
    
    .feedbackButton.fixed {
        position:absolute;
        top:40px;
    }
    
    #headerTop .grid_12 {
        width: 440px;
    }
    
    .header-home #searchFormHeader {
        padding-top: 20px;
    }
    
    #headerTop .grid_8 {
    width: 260px;
    }
    #headerTop .lang {
        margin:0;
    }
    #headerTop .grid_4 {
        position: absolute;
        right: 0;
        top: 4px;
        width: 230px;
    }
    .header-home #headerTop .grid_4 {
        right:120px;
    }

    #headerBottom > .grid_8 {
        position: absolute;
        left:480px;
    }
    
    .menuLibCard {
        padding-left:0;
        border-left:0;
        margin-top:13px;
    }
	#selectCard .menuLibCard  {
		margin-top:0px;	
	}
    
    #headerMenu {
        width:550px;
    }
    
    /* Header: Search Box */
    
    .searchFormOuterWrapper {
        width: 470px;
    }
    
    #searchForm_input {
        width: 195px;
    }
		.searchformPCI #searchForm_input {
		    width: 350px;
		}
    .searchformMetaLib #searchForm_input {
        width: 95px;
    }

    /* Front page */
    #introduction.section #siteDescription, #topSearches {
        border-right: medium none;
        padding: 0px 20px 20px 0;
    }
    #introduction ul {
        width:230px;
    }
    
    ul.documentTypes li {
        float: none;
        width: 100%;
        margin-bottom:.2em;
    }
    
    #carousel .slides_container {
        height: 236px;
    }
    #carousel .slide img {
        width: 174px;
    }
    #carousel > h2.ribbon {
        font-size:1.43em;
        opacity:1 !important;
        padding:5px 7px 5px 13px !important;
        height:22px !important;
    }
    #carousel .slide .pickup-content {
        top:181px !important;
        
    }
    #carousel .slide .pickup-header {  
        font-size: 0.9em;
        line-height:1.6em;
    }
    
    #carousel .slide .pickup-text {
        font-size: 0.8em;
        line-height: 1.4em;
        padding: 0 12px 10px;
    }
    #carousel .slide > ul > li:hover .pickup-header span {
        color:#FDF07F;
    }
    
    #carousel .open .pickup-header {
        height: 45px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    
    #introduction ul {
        clear:both;
    }
    
    #popularSearches ul {
        width:180px;
        
    }
    
	/* datepicker in New in Finna facet */
	
	#newItemsLimit {
		font-size:85%;
		font-weight:normal;
	}
	
    /* Search results: header */
    
    .dateVisClear a {
        right:15px;
    }
    .resultHeader .headerLeft {
        width: 300px;
    }
    
    .section#home-timeline #sidePubDateVis {
    max-width: 690px;
    }
    
    .currentPage > span:first-child {
        display:none;
    }
    .resultOptions label {
        display:none;
    }
    .resultOptionLimit {
        margin-left:15px;
    }
        
    /* Search results: sidebar */
    
    .sidegroup ul.dynatree-container {
        padding: 0 10px 8px 6px;
    }

    span.dynatree-node .facetTitle {
        display:inline;
        max-width:110px;
    }
    
    .sidegroup .dynatree-title {
        white-space:normal;
    }
    
    ul.filters span {
        max-width: 110px;
    }
    
    .narrowList.navmenu.year dt {
        width: 116px;
    }
    
    .sidegroup dt, div.sidegroup h4 {
        font-size:1.10em;
    }
    
    .resultListContainer div.sidegroup h4 {
        font-size: 1.5em;
    }
    
    .narrowList.navmenu.year.collapsible.timeline.open.collapsed dt {
        width:690px;
    }
    
    .dateVis { 
        width:650px;
    }
    
    .timelineview { 
        margin-right:34px;
    }

    .yearLabel {
        margin-right:0;
    }
    
    .mainYearForm input[type="text"] {
        width:35px;
    }
    
    .mainYearFormContainer1 .mainYearForm .radiobuttonFilter label {
        width: 155px;
    }

    .mainYearFormContainer2 {
        margin-right:30px;
    }
    
    .timeline.open.collapsed dt {
        margin-left: -540px;
    }
    
    .sideBarOnLeft .timeline.open.collapsed dt {
        margin-left: 0;
    }
    
    
    /* Advanced seach */
    #searchHolder .group {
        padding:8px;
    }
    #advSearchForm .groupSearchDetails select {
        max-width: 155px;
    }
    .advSearchSection.first {
 		 padding: 10px;
	}
    .groupSearchHolder .terms {
        width: 110px;
    }
    #zoomSlider {
        left: 12px;
        top: 67px;
    }

    /** DualResults - Two Column Results */
    #dualResults .resultViewOptions {
        font-size: .846em;
    }
    #dualResults .toggleHeader,
    #dualResults #panelToggle {
        font-size: .9em;
    }
    #dualResults .leftColumn {
        width: 332px;
    }
    #dualResults .rightColumn {
        width: 332px;
    }
    #dualResults .dualListHeader .rightColumn {
        width: 196px;
    }
    #dualResults .dualListHeader #dualListHeaderPanel .rightColumn {
        width: 332px;
    }
    #dualResults .resultColumn1 {
        display: none;
    }
		#dualResults .resultColumn2 {
		    width: 300px;
		    margin-left: 0;
		}
    #dualResults ul.recordSet {
        margin-top: 10px;
    }

    /* Record */
    
    .recordcover {
        max-width:110px;
    }
    .citation th { 
        width:100px;
    }
    
    ul.recordSet.galleryView li.result {
        margin-right:10px;
        margin-bottom:30px;
    }
    
    table.holdingsContainerHolding .checkedout,
    table.holdingsContainerHolding .available {
        display: inline-block;
    }
	
    #recordProvidedBy .dropdown dt a {
        width: 100px;        
    }

    #recordProvidedBy .dropdown dt a:after {
        right: 4px;
    }
    
    .menuHolder dl.dropdown dd ul,
    #recordProvidedBy dl.dropdown dd ul {
        max-height: 200px;
    }


    /* Myresearch */
    
    .ui-tabs .ui-tabs-nav li a {
        padding-left:5px;
        padding-right:5px;
    }
    .myResearchMenu.ui-tabs .ui-tabs-nav li a {
        padding-left:8px;
        padding-right:8px;
    }
    .favoritesList {
        width:469px;
    }
    .favoritesList .pagination {
        width: 460px;
    }
    
    .favoritesList .paginationTop {
        visibility:hidden;
    }
    
    .favoritesList div.bulkActionButtons {
        height:75px;
    }
    
    .favoritesList div.bulkActionButtons input[name="delete"] {
        clear:both;
        margin-top:7px;
    }
    .favoritesList div.bulkActionButtons a.checkBoxDeselectAll {
        float:left;
        margin-top:7px;
    }
    form[name="bulkActionForm"].visible + .resultOptionLimit {
        top:120px;
    }
    form[name="bulkActionForm"].visible .allCheckboxBackground {
        top:120px;
    }
	.favoritesList .bulkActionButtons.visible {
		display: block;
		background: #eee;
		position: static;
		width: auto;
		margin-top: 0;
	}
	.myResearch .profileGroup .notif {
		text-align:right;
		font-size:0.9em;	
	}
	.module-MyResearch h2, .myResearch h2 {
		line-height: auto;
	}

    /*** Login ***/
    .loginForm .grid_7, .loginForm .grid_14 {
        width: 90% !important;
    }
    .loginForm .description {
        margin-top:20px;
    }
    .loginForm .personaLogin {
        margin-top: 20px;
    }

    /* Footer */
    
    #footer {
        text-align:center;
    }
    
    
    /*** DO NOT EDIT BELOW ***/
    
    
    /*
      960 Grid System ~ Core CSS.
      Learn more ~ http://960.gs/

      Licensed under GPL and MIT.
    */

    /*
      Forces backgrounds to span full width,
      even if there is horizontal scrolling.
      Increase this if your layout is wider.

      Note: IE6 works fine without this fix.
    */

    body {
      min-width: 720px;
    }


    
    .keepFilters {
        left: 242px;
    }
    .ui-autocomplete {
        width: 457px !important;
    }
    


    /* `Container
    ----------------------------------------------------------------------------------------------------*/

    .content {
      margin-left: auto;
      margin-right: auto;
      width: 720px;
    }
    
    /* Dropper (full width on mobile) */
    
    .content *[class*="grid"].drop {
        width:100%;
        clear:both;
    }
    
    /* No margin (only to be used with droppers) */
    
    .content *[class*="grid"].drop.nomargin {
        margin-left:0;
        margin-right:0;
    }
    
    /* Align left or right without the default 5px border */
    
    .content *[class*="grid"].push_right {
        margin-right:0;
        margin-left:10px;
    }
    
    .content *[class*="grid"].push_left {
        margin-right:10px;
        margin-left:0;
    }

    /* `Grid >> Global
    ----------------------------------------------------------------------------------------------------*/

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12,
    .grid_13,
    .grid_14,
    .grid_15,
    .grid_16,
    .grid_17,
    .grid_18,
    .grid_19,
    .grid_20,
    .grid_21,
    .grid_22,
    .grid_23,
    .grid_24 {
      display: inline;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
    }

    .push_1, .pull_1,
    .push_2, .pull_2,
    .push_3, .pull_3,
    .push_4, .pull_4,
    .push_5, .pull_5,
    .push_6, .pull_6,
    .push_7, .pull_7,
    .push_8, .pull_8,
    .push_9, .pull_9,
    .push_10, .pull_10,
    .push_11, .pull_11,
    .push_12, .pull_12,
    .push_13, .pull_13,
    .push_14, .pull_14,
    .push_15, .pull_15,
    .push_16, .pull_16,
    .push_17, .pull_17,
    .push_18, .pull_18,
    .push_19, .pull_19,
    .push_20, .pull_20,
    .push_21, .pull_21,
    .push_22, .pull_22,
    .push_23, .pull_23 {
      position: relative;
    }

    /* `Grid >> Children (Alpha ~ First, Omega ~ Last)
    ----------------------------------------------------------------------------------------------------*/

    .alpha {
      margin-left: 0;
    }

    .omega {
      margin-right: 0;
    }

    /* `Grid >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .grid_1 {
      width: 20px;
    }

    .content .grid_2 {
      width: 50px;
    }

    .content .grid_3 {
      width: 80px;
    }

    .content .grid_4 {
      width: 110px;
    }

    .content .grid_5 {
      width: 140px;
    }

    .content .grid_6 {
      width: 170px;
    }

    .content .grid_7 {
      width: 200px;
    }

    .content .grid_8 {
      width: 230px;
    }

    .content .grid_9 {
      width: 260px;
    }

    .content .grid_10 {
      width: 290px;
    }

    .content .grid_11 {
      width: 320px;
    }

    .content .grid_12 {
      width: 350px;
    }

    .content .grid_13 {
      width: 380px;
    }

    .content .grid_14 {
      width: 410px;
    }

    .content .grid_15 {
      width: 440px;
    }

    .content .grid_16 {
      width: 470px;
    }

    .content .grid_17 {
      width: 500px;
    }

    .content .grid_18 {
      width: 530px;
    }

    .content .grid_19 {
      width: 560px;
    }

    .content .grid_20 {
      width: 590px;
    }

    .content .grid_21 {
      width: 620px;
    }

    .content .grid_22 {
      width: 650px;
    }

    .content .grid_23 {
      width: 680px;
    }

    .content .grid_24 {
      width: 710px;
    }

    /* `Prefix Extra Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .prefix_1 {
      padding-left: 30px;
    }

    .content .prefix_2 {
      padding-left: 60px;
    }

    .content .prefix_3 {
      padding-left: 90px;
    }

    .content .prefix_4 {
      padding-left: 120px;
    }

    .content .prefix_5 {
      padding-left: 150px;
    }

    .content .prefix_6 {
      padding-left: 180px;
    }

    .content .prefix_7 {
      padding-left: 210px;
    }

    .content .prefix_8 {
      padding-left: 240px;
    }

    .content .prefix_9 {
      padding-left: 270px;
    }

    .content .prefix_10 {
      padding-left: 300px;
    }

    .content .prefix_11 {
      padding-left: 330px;
    }

    .content .prefix_12 {
      padding-left: 360px;
    }

    .content .prefix_13 {
      padding-left: 390px;
    }

    .content .prefix_14 {
      padding-left: 420px;
    }

    .content .prefix_15 {
      padding-left: 450px;
    }

    .content .prefix_16 {
      padding-left: 480px;
    }

    .content .prefix_17 {
      padding-left: 510px;
    }

    .content .prefix_18 {
      padding-left: 540px;
    }

    .content .prefix_19 {
      padding-left: 570px;
    }

    .content .prefix_20 {
      padding-left: 600px;
    }

    .content .prefix_21 {
      padding-left: 630px;
    }

    .content .prefix_22 {
      padding-left: 660px;
    }

    .content .prefix_23 {
      padding-left: 690px;
    }

    /* `Suffix Extra Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .suffix_1 {
      padding-right: 30px;
    }

    .content .suffix_2 {
      padding-right: 60px;
    }

    .content .suffix_3 {
      padding-right: 90px;
    }

    .content .suffix_4 {
      padding-right: 120px;
    }

    .content .suffix_5 {
      padding-right: 150px;
    }

    .content .suffix_6 {
      padding-right: 180px;
    }

    .content .suffix_7 {
      padding-right: 210px;
    }

    .content .suffix_8 {
      padding-right: 240px;
    }

    .content .suffix_9 {
      padding-right: 270px;
    }

    .content .suffix_10 {
      padding-right: 300px;
    }

    .content .suffix_11 {
      padding-right: 330px;
    }

    .content .suffix_12 {
      padding-right: 360px;
    }

    .content .suffix_13 {
      padding-right: 390px;
    }

    .content .suffix_14 {
      padding-right: 420px;
    }

    .content .suffix_15 {
      padding-right: 450px;
    }

    .content .suffix_16 {
      padding-right: 480px;
    }

    .content .suffix_17 {
      padding-right: 510px;
    }

    .content .suffix_18 {
      padding-right: 540px;
    }

    .content .suffix_19 {
      padding-right: 570px;
    }

    .content .suffix_20 {
      padding-right: 600px;
    }

    .content .suffix_21 {
      padding-right: 630px;
    }

    .content .suffix_22 {
      padding-right: 660px;
    }

    .content .suffix_23 {
      padding-right: 690px;
    }

    /* `Push Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .push_1 {
      left: 30px;
    }

    .content .push_2 {
      left: 60px;
    }

    .content .push_3 {
      left: 90px;
    }

    .content .push_4 {
      left: 120px;
    }

    .content .push_5 {
      left: 150px;
    }

    .content .push_6 {
      left: 180px;
    }

    .content .push_7 {
      left: 210px;
    }

    .content .push_8 {
      left: 240px;
    }

    .content .push_9 {
      left: 270px;
    }

    .content .push_10 {
      left: 300px;
    }

    .content .push_11 {
      left: 330px;
    }

    .content .push_12 {
      left: 360px;
    }

    .content .push_13 {
      left: 390px;
    }

    .content .push_14 {
      left: 420px;
    }

    .content .push_15 {
      left: 450px;
    }

    .content .push_16 {
      left: 480px;
    }

    .content .push_17 {
      left: 510px;
    }

    .content .push_18 {
      left: 540px;
    }

    .content .push_19 {
      left: 570px;
    }

    .content .push_20 {
      left: 600px;
    }

    .content .push_21 {
      left: 630px;
    }

    .content .push_22 {
      left: 660px;
    }

    .content .push_23 {
      left: 690px;
    }

    /* `Pull Space >> 24 Columns
    ----------------------------------------------------------------------------------------------------*/

    .content .pull_1 {
      left: -30px;
    }

    .content .pull_2 {
      left: -60px;
    }

    .content .pull_3 {
      left: -90px;
    }

    .content .pull_4 {
      left: -120px;
    }

    .content .pull_5 {
      left: -150px;
    }

    .content .pull_6 {
      left: -180px;
    }

    .content .pull_7 {
      left: -210px;
    }

    .content .pull_8 {
      left: -240px;
    }

    .content .pull_9 {
      left: -270px;
    }

    .content .pull_10 {
      left: -300px;
    }

    .content .pull_11 {
      left: -330px;
    }

    .content .pull_12 {
      left: -360px;
    }

    .content .pull_13 {
      left: -390px;
    }

    .content .pull_14 {
      left: -420px;
    }

    .content .pull_15 {
      left: -460px;
    }

    .content .pull_16 {
      left: -490px;
    }

    .content .pull_17 {
      left: -510px;
    }

    .content .pull_18 {
      left: -540px;
    }

    .content .pull_19 {
      left: -570px;
    }

    .content .pull_20 {
      left: -600px;
    }

    .content .pull_21 {
      left: -630px;
    }

    .content .pull_22 {
      left: -660px;
    }

    .content .pull_23 {
      left: -690px;
    }

    /* `Clear Floated Elements
    ----------------------------------------------------------------------------------------------------*/

    /* http://sonspring.com/journal/clearing-floats */

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

    .clearfix:before,
    .clearfix:after,
    .content:before,
    .content:after {
      content: '.';
      display: block;
      overflow: hidden;
      visibility: hidden;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
    }

    .clearfix:after,
    .content:after {
      clear: both;
    }

    /*
      The following zoom:1 rule is specifically for IE6 + IE7.
      Move to separate stylesheet if invalid CSS is a problem.
    */

    .clearfix,
    .content {
      zoom: 1;
    }
}
