/***** CSS descriptions for the Finna icon set sprite *****/

/*** Elements with 16-24px icons ***/

*, *:before, *:after, .resultNoImage {
    background-repeat: no-repeat;
    background-position:0 0;
}

/*** Individual element background positions ***/

/* Navi */

.menuArrow,
.menuHome > a span {
    background-image:url("../images/icons16-24px-02_white.png");
}
.menuArrow {
    background-position:-3px -2327px;
}
.menuHome > a span {
    background-position: -1px -335px;
    height: 10px;
}
.menuHome > a:hover span {
    background-position: -1px -363px;
}
.menuLogin dt a {
	background:	url("../images/icons16-24px-02_white.png") 
	!important;
	background-repeat:no-repeat !important;
	background-position:1px -1941px !important;
	padding-left:22px !important;
}
.menuLogin .logout {
	background:	url("../images/icons16-24px-02_black.png");
	background-repeat:no-repeat;
	background-position:8px -272px;
}

/* Common: Buttons */

.deleteButton {
    background-image: url(../images/icons16-24px-03_red.png);
    background-position: -1px -127px;
}
.deleteButtonSmall {
    background-image: url("../images/icons16-24px-02_red.png");
    background-position: 4px -163px;
}
.dropdown dt a:after {
    background-image: url(../images/icons16-24px-02_white.png);
    background-position: 7px -2324px;
}
#headerMenu .dropdown dt a:after {
    background-position: 4px -2327px;
    height: 7px;
}
.dropdown.catalogAccount dt a:after {
    content: "▾";
    float:right;
    background:none;
}

/* Content type icons */

.iconlabel.formatdocument:before,
.iconlabel.formatlegaldocument:before,
.iconlabel.formatarticle:before,
.iconlabel.formatnewspaperarticle:before,
.iconlabel.formatreferenceentry:before,
.iconlabel.formatbookchapter:before,
.iconlabel.formatphysicalobject:before,
.iconlabel.formatmap:before,
.iconlabel.formatbook:before,
.iconlabel.formatimage:before,
.iconlabel.formatjournal:before,
.iconlabel.formatmusicalscore:before,
.iconlabel.formatscore:before,
.iconlabel.formatthesis:before,
.iconlabel.formatdissertation:before,
.iconlabel.formatworkofart:before,
.iconlabel.formatdatabase:before,
.iconlabel.formatvideo:before,
.iconlabel.formataudiovideo:before,
.iconlabel.formatvideo:before,
.iconlabel.formatsound:before,
.iconlabel.formatsoundrecording:before,
.iconlabel.formataudio:before,
.iconlabel.formatother:before,
.iconlabel.formatwebsite:before,
.iconlabel.formatpaikkarakennus:before,
.iconlabel.formatplace:before {
    background-image: url(../images/icons16-24px-01_black.png);
}
.breadcrumbinner span.iconlabel.formatdocument:before, 
.breadcrumbinner span.iconlabel.formatlegaldocument:before,
.breadcrumbinner span.iconlabel.formatarticle:before,
.breadcrumbinner span.iconlabel.formatnewspaperarticle:before,
.breadcrumbinner span.iconlabel.formatreferenceentry:before,
.breadcrumbinner span.iconlabel.formatbookchapter:before,
.breadcrumbinner span.iconlabel.formatphysicalobject:before,
.breadcrumbinner span.iconlabel.formatmap:before,
.breadcrumbinner span.iconlabel.formatbook:before,
.breadcrumbinner span.iconlabel.formatimage:before,
.breadcrumbinner span.iconlabel.formatjournal:before,
.breadcrumbinner span.iconlabel.formatmusicalscore:before,
.breadcrumbinner span.iconlabel.formatscore:before,
.breadcrumbinner span.iconlabel.formatthesis:before,
.breadcrumbinner span.iconlabel.formatdissertation:before,
.breadcrumbinner span.iconlabel.formatworkofart:before,
.breadcrumbinner span.iconlabel.formatdatabase:before,
.breadcrumbinner span.iconlabel.formatvideo:before, 
.breadcrumbinner span.iconlabel.formataudiovideo:before,
.breadcrumbinner span.iconlabel.formatvideo:before,
.breadcrumbinner span.iconlabel.formatsound:before,
.breadcrumbinner span.iconlabel.formatsoundrecording:before,
.breadcrumbinner span.iconlabel.formataudio:before,
.breadcrumbinner span.iconlabel.formatother:before,
.breadcrumbinner span.iconlabel.formatwebsite:before,
.breadcrumbinner span.iconlabel.formatpaikkarakennus:before,
.breadcrumbinner span.iconlabel.formatplace:before {
    background-image: url(../images/icons16-24px-01_white.png);
}
.iconlabel.formatdocument:before,
.iconlabel.formatlegaldocument:before,
.breadcrumbinner span.iconlabel.formatdocument:before, 
.breadcrumbinner span.iconlabel.formatlegaldocument:before {

    background-position: 3px -335px;
}
.iconlabel.formatarticle:before,
.iconlabel.formatnewspaperarticle:before,
.breadcrumbinner span.iconlabel.formatarticle:before,
.breadcrumbinner span.iconlabel.formatnewspaperarticle:before {
    background-position: 3px -363px
}
.iconlabel.formatbookchapter:before,
.breadcrumbinner span.iconlabel.formatbookchapter:before {
    background-position: 2px -25px;
}
.iconlabel.formatphysicalobject:before,
.breadcrumbinner span.iconlabel.formatphysicalobject:before {
    background-position: 2px -168px;
}
.iconlabel.formatmap:before,
.breadcrumbinner span.iconlabel.formatmap:before {
    background-position: 1px -111px;
}
.iconlabel.formatbook:before,
.breadcrumbinner span.iconlabel.formatbook:before {
    background-position: 2px 3px;
}
.iconlabel.formatimage:before,
.breadcrumbinner span.iconlabel.formatimage:before {
    background-position: 1px -445px;
}
.iconlabel.formatjournal:before,
.breadcrumbinner span.iconlabel.formatjournal:before {
    background-position: 1px -54px;
}
.iconlabel.formatmusicalscore:before,
.iconlabel.formatscore:before,
.breadcrumbinner span.iconlabel.formatmusicalscore:before,
.breadcrumbinner span.iconlabel.formatscore:before  {
    background-position: 1px -280px;
}
.iconlabel.formatthesis:before,
.iconlabel.formatdissertation:before,
.breadcrumbinner span.iconlabel.formatthesis:before,
.breadcrumbinner span.iconlabel.formatdissertation:before {
    background-position: 3px -670px;
}
.iconlabel.formatworkofart:before,
.breadcrumbinner span.iconlabel.formatworkofart:before {
    background-position: 2px -613px;
}
.iconlabel.formatdatabase:before,
.breadcrumbinner span.iconlabel.formatdatabase:before {
    background-position: 1px -225px;
}
.iconlabel.formatvideo:before,
.iconlabel.formataudiovideo:before,
.iconlabel.formatvideo:before,
.breadcrumbinner span.iconlabel.formatvideo:before, 
.breadcrumbinner span.iconlabel.formataudiovideo:before,
.breadcrumbinner span.iconlabel.formatvideo:before {
    background-position: 2px -556px;
}
.iconlabel.formatsound:before,
.iconlabel.formatsoundrecording:before,
.iconlabel.formataudio:before,
.breadcrumbinner span.iconlabel.formatsound:before,
.breadcrumbinner span.iconlabel.formatsoundrecording:before,
.breadcrumbinner span.iconlabel.formataudio:before {
    background-position: 2px -501px;
}
.iconlabel.formatreferenceentry:before,
.iconlabel.formatother:before,
.iconlabel.formatwebsite:before,
.iconlabel.formatpaikkarakennus:before,
.breadcrumbinner span.iconlabel.formatreferenceentry:before,
.breadcrumbinner span.iconlabel.formatother:before,
.breadcrumbinner span.iconlabel.formatwebsite:before,
.breadcrumbinner span.iconlabel.formatpaikkarakennus:before{
    background-position: 1px -727px;
}
.iconlabel.formatplace:before,
.iconlabel.formatplacebuilding:before, .breadcrumbinner span.iconlabel.formatplace:before {
	background-position:2px -643px;	
}

/* Header: info box */

.toggleBox.openInfoBox {
    background-image: url(../images/icons16-24px-03_white.png);
    background-position: 0 0;
}
.toggleBox.closeInfoBox {
    background-image: url(../images/icons16-24px-03_turquoise.png);
    background-position: 0 -128px;
}

/* Header: Search box */

.advancedLink {
    background-image: url(../images/icons16-24px-03_white.png);
    background-position: 1px -1132px;
}
.searchbox .dropdown dt a {
    background-image: url(../images/icons16-24px-03_darkgrey.png);
    background-position: 116px -246px;
    background-repeat: no-repeat;
}
a.clear_input {
    background-image: url(../images/icons16-24px-02_darkgrey.png);
    background-position: 2px -2163px;
}

/* Header: Search suggestions */

.correction .expandSearch {
    background-image: url(../images/icons16-24px-02_black.png);
    background-position: 2px -56px;
}

/* Header: Breadcrumbs */
.breadcrumbinner > a:first-child {
    background-image: url("../images/icons16-24px-02_white.png");
    background-position: -1px -330px;
    text-indent: -1000px;
    width: 17px;
}
.breadcrumbinner span.iconlabel {
    background: none;
    margin-right: 7px;
    margin-top: 5px;
    padding: 0;
    width: 18px;
}


/* Grid view & List view */
.viewButtons .view-list,
.viewButtons .view-grid,
.viewButtons .view-list.active, .viewButtons .view-list:hover,
.viewButtons .view-grid.active, .viewButtons .view-grid:hover {
    background:url("../images/icons16-24px-04.png") no-repeat;
}
.viewButtons .view-list {
    background-position: -111px -4px;
}
.viewButtons .view-grid {
    background-position: -219px -4px;
}
.viewButtons .view-list.active, .viewButtons .view-list:hover {
    background-position: -166px -4px;
}
.viewButtons .view-grid.active, .viewButtons .view-grid:hover {
    background-position: -272px -4px;
}


/* Main: Result header */

.available:before, .availableLoc:before {
    background-image: url(../images/icons16-24px-03_green.png);
}
.available:before {
    background-position: 1px -1439px;
}
.availableLoc:before {
    background-position: 1px -1439px;
}
.checkedout:before, .checkedoutLoc:before {
    background-image: url(../images/icons16-24px-03_red.png);
}
.checkedout:before {
    background-position: 1px -1399px;
}
.checkedoutLoc:before {
    background-position: 1px -1399px;
}
.dateVisClear a, .holdPlace:before {
    background-image: url(../images/icons16-24px-03_turquoise.png);
}
.dateVisClear a {
    background-position: 1px -728px; 
}
.holdPlace:before {
    background-position: 1px -1398px;
}
.holdPlace, .UBRequestPlace {
    background-image: url(../images/icons16-24px-02_turquoise.png);
    background-position: 11px -2371px;
}

#dualResults .dualListHeader #panelToggle {
    background-image: url("../images/icons16-24px-02_turquoise.png");
    background-position: 108% -2320px;
}
#dualResults .dualListHeader #panelToggle.panelToggleLower {
    background-position: 108% -2271px;
}


/* Main: Search results */

.openurl_more, .info_more,
.openurl_more.expanded, .info_more.expanded,
.recordSet .fav,
.currentTree, .hierarchyTreeLinkText,
#toggleTree {
    background-image: url(../images/icons16-24px-02_turquoise.png);
}
.openurl_more, .info_more {
    background-position: -1px -2371px; 
}
.openurl_more.expanded, .info_more.expanded {
    background-position: -1px -2321px;
}
.recordSet .fav {
    background-position: 3px -2049px;
}
.recordSet .fav:hover {
    background-position: 3px -2049px;
}

.currentTree, .hierarchyTreeLinkText {
    background-position: -1px -1497px;
}

.result .hierarchyTreeLink .hierarchyTreeLinkText {
    background-position: -1px -1503px;
}

#toggleTree {
    background-position: -1px -1500px;
}

/* Main: Pagination + Single Record View scoller */

.paginationMove.paginationFirst,
.paginationMove.paginationBack,
.paginationMove.paginationNext,
.paginationMove.paginationLast,
.resultscroller .prevRecord.inactive,
.resultscroller .nextRecord.inactive {
    background-image: url(../images/icons16-24px-03_grey.png);
}
.paginationMove.paginationFirst {
    background-position: 1px -453px;
}
.paginationMove.paginationBack,
.resultscroller .prevRecord.inactive {
    background-position: 1px -919px;
}
.paginationMove.paginationNext,
.resultscroller .nextRecord.inactive {
    background-position: 1px -983px;
}
.paginationMove.paginationLast {
    background-position: 1px -518px;
}
.paginationMove.paginationFirst.visible,
.paginationMove.paginationBack.visible,
.paginationMove.paginationNext.visible,
.paginationMove.paginationLast.visible,
.resultscroller .prevRecord,
.resultscroller .nextRecord {
    background-image: url(../images/icons16-24px-03_turquoise.png);
}
.paginationMove.paginationFirst.visible {
    background-position: 1px -453px;
}
.paginationMove.paginationBack.visible,
.resultscroller .prevRecord {
    background-position: 1px -919px;
}
.paginationMove.paginationNext.visible,
.resultscroller .nextRecord {
    background-position: 1px -983px;
}
.paginationMove.paginationLast.visible {
    background-position: 1px -518px;
}

/* Main: Search results image icons */

.resultNoImage.formatdocument, .resultNoImage.formatlegaldocument,
.resultNoImage.formatarticle, .resultNoImage.formatnewspaperarticle,
.resultNoImage.formatphysicalobject,
.resultNoImage.formatmap,
.resultNoImage.formatbook,
.resultNoImage.formatbookchapter,
.resultNoImage.formatimage,
.resultNoImage.formatjournal,
.resultNoImage.formatmusicalscore,
.resultNoImage.formatthesis, .resultNoImage.formatdissertation,
.resultNoImage.formatworkofart,
.resultNoImage.formatdatabase,
.resultNoImage.formatvideo, .resultNoImage.formataudiovideo,
.resultNoImage.formatsound, .resultNoImage.formataudio,
.resultNoImage.formatother, .resultNoImage.formatreferenceentry,
.resultNoImage.formatwebsite, .resultNoImage.formatpaikkarakennus, .resultNoImage.formatplace {
    background-image: url(../images/icons48px-03.png);
}
.resultNoImage.formatdocument,
.resultNoImage.formatlegaldocument {
    background-position: -8px -735px;
}
.resultNoImage.formatarticle,
.resultNoImage.formatnewspaperarticle {
    background-position: -7px -1887px;
}
.resultNoImage.formatphysicalobject {
    background-position: -11px -355px;
}
.resultNoImage.formatmap {
    background-position: -14px -226px;
}
.resultNoImage.formatbook {
    background-position: -12px 34px;
}
.resultNoImage.formatbookchapter {
    background-position: -9px -1759px;
}
.resultNoImage.formatimage {
    background-position: -14px -988px;
}
.resultNoImage.formatjournal {
    background-position: -13px -98px;
}
.resultNoImage.formatmusicalscore {
    background-position: -14px -612px;
}
.resultNoImage.formatthesis,
.resultNoImage.formatdissertation {
    background-position: -7px -1499px;
}
.resultNoImage.formatworkofart {
    background-position: -11px -1370px;
}
.resultNoImage.formatdatabase {
    background-position: -13px -482px;
}
.resultNoImage.formatvideo,
.resultNoImage.formataudiovideo {
    background-position: -14px -1242px;
}
.resultNoImage.formatsound,
.resultNoImage.formataudio {
    background-position: -12px -1113px;
}
.resultNoImage.formatother,
.resultNoImage.formatreferenceentry,
.resultNoImage.formatwebsite,
.resultNoImage.formatpaikkarakennus {
    background-position: -17px -1632px;
}
.resultNoImage.formatplace {
	background-position: -9px -2013px;	
}

/* Main: Search tools */

.searchtools li.toolSavedSearch,
.searchtools li.toolRssLink,
.searchtools li.toolMailSearch {
    background-image: url(../images/icons16-24px-02_black.png);
}
.searchtools li.toolSavedSearch {
    background-position: -1px -2050px;
}
.searchtools li.toolRssLink {
    background-position: -1px -1061px;
}
.searchtools li.toolMailSearch {
    background-position: -1px -1775px;
}

/* Main: facet sidebar */

.dynatree-exp-e span.dynatree-expander, 
.dynatree-exp-ed span.dynatree-expander, 
.dynatree-exp-el span.dynatree-expander, 
.dynatree-exp-edl span.dynatree-expander,
.dynatree-exp-e span.dynatree-expander:hover,
.dynatree-exp-ed span.dynatree-expander:hover, 
.dynatree-exp-el span.dynatree-expander:hover, 
.dynatree-exp-edl span.dynatree-expander:hover,
span.dynatree-expander, span.dynatree-expander:hover {
    background-image: url(../images/icons16-24px-02_grey.png);
    background-position: -1px -2319px;
}

span.dynatree-expander,
span.dynatree-expander:hover {
    background-position: 1px -2370px;
}

.dynatree-loading span.dynatree-expander,
.dynatree-loading span.dynatree-expander:hover,
.dynatree-statusnode-wait span.dynatree-icon {
    background-position: 1px 5px;
    background-image: url("../images/ajax_loading_small.gif");
}

.timelineview {
	background-image: url(../images/icons16-24px-04.png);
    background-position: -6px -10px;
}

#newItemsFromDate.searchButton {
        background-image: url(../images/icons16-24px-02_white.png);
        background-position: 7px -943px;
    }

/* Main: Single record view */

.resultLinks .button, .resultLinks .button span {
    background-image: url(../images/icons16-24px-02_white.png);
}
.resultLinks .button {
    background-position: 8px -2414px;
}
.resultLinks .button span {
    background-position: 1px -950px;
}
.coverImages .moreLink a:after, .coverImages .lessLink a:after, 
#addThis .mail, .addthis_button_facebook, .addthis_button_twitter,
.addthis_button_google_plusone_share,
.fav, .mail, .export, .export img, .add, .delete,
.citation .moreLink a:after, .citation .lessLink a:after,
.openWindow {
    background-image: url(../images/icons16-24px-02_turquoise.png);
}
#addThis .mail {
    background-position: 5px -1771px;
}
.addthis_button_facebook {
    background-position: 3px -613px;
}
.addthis_button_twitter {
    background-position: 3px -667px;
}
.addthis_button_google_plusone_share {
    background-position: 3px -2480px;
}
.fav {
    background-position: 0 -2044px;
}
.mail {
    background-position: 0 -1717px;
}
.export {
    background-position: 0 -1659px;        
}
.export img {
    background-position: 1px -2317px;
}
.add {
    background-position: 7px -49px;
}
.delete {
    background-position: 7px -158px;
}
.coverImages .moreLink a:after,
.citation .moreLink a:after {
    background-position: 2px -2318px;
}
.coverImages .lessLink a:after,
.citation .lessLink a:after {
    background-position: 2px -2270px;
}
.openWindow {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -1px -2530px;
	margin-left: 5px;
}
.savedHistory .delete, .accountList .delete, .accountList .edit {
    background-image: url(../images/icons16-24px-02_black.png);
}
.savedHistory .delete {
    background-position: 7px -158px;
}
.accountList .delete {
    background-position: 7px -158px;
}
.accountList .edit {
    background-position: 7px -2098px;
}
label.invalid:before {
    background-image: url(../images/icons16-24px-02_red.png);
    background-position: 1px 0px;
}

/* Advanced Search */
.advancedOptions p {
		background: url("../images/icons16-24px-02_turquoise.png") no-repeat;
}
.advancedOptions .advancedEdit {
	background-position: 0 -2104px;
}
.advancedOptions .advancedNewSearch {
	background-position: 0 -1003px;
}
.advancedOptions .advancedBasic {
	background-position: 0 -947px;
}

/* Radio Buttons */
input[type="radio"] + label span {
    background:url("../images/icons16-24px-04.png") no-repeat;
    background-position: -529px -11px;
}
input[type="radio"]:checked + label span {
    background-position: -491px -11px;
}

/* Tabs */

#holdingstab, #componentstab, #commentstab, #reviewstab, #excerpttab,
#hierarchytab, #maptab, #detailstab,
#tabnav .collectionContent,
#tabnav .collectionHierarchy,
#allResultsTab, #booksTab, #articlesTab, #metalibTab,
#booksTabAdvanced, #articlesTabAdvanced, #metalibTabAdvanced {
    background-image: url(../images/icons16-24px-02_black.png);
}
#holdingstab {
    background-position: 7px -214px;
}
#componentstab {
    background-position: 7px -436px;
}
#commentstab {
    background-position: 7px -1876px;
}
#reviewstab {
    background-position: 7px -212px;
}
#excerpttab {
    background-position: 7px -212px;
}
#hierarchytab {
    background-position: 7px -1493px;
}
#maptab {
    background-position: 7px -53px;
}
#detailstab {
    background-position: 7px -494px;
}
#tabnav .collectionContent {
    background-position: 7px -1603px;
}
#tabnav .collectionHierarchy {
    background-position: 7px -1493px;
}
#allResultsTab, #booksTab, #articlesTab, #metalibTab {
    background-position: 10px -939px;
}
#booksTabAdvanced, #articlesTabAdvanced, #metalibTabAdvanced {
    background-position: 9px -994px;
}

#metalibTab.tabLoader {
    background-image: url(../images/ajax-loader.gif);
    background-position:10px center !important;
    background-size:18px 18px;
}

/* Main: Myresearch */

.userIcon {
	
}

.sessionHistory .add,
.editItem .edit, #sidebarFavoritesLists .edit,
.editItem .delete,
#sidebarFavoritesLists .delete {
    background-image: url(../images/icons16-24px-02_black.png);
}
.sessionHistory .add {
    background-position: 7px -49px;
}
.editItem .edit,
#sidebarFavoritesLists .edit {
    background-position: 1px -2104px;
}
.editItem .delete,
#sidebarFavoritesLists .delete {
    background-position: 1px -166px
}
#sidebarFavoritesLists .listAdd {
    background-image: url(../images/icons16-24px-02_black.png);
    background-position: 186px -49px;
}
#sidebarFavoritesLists input.listAdd {
    background-image: url("../images/icons16-24px-02_black.png");
    background-position: 7px -50px;
}
.favoritesList div.bulkActionButtons input.button, 
.favoritesList div.bulkActionButtons div > a,
.favoritesList div.bulkActionButtons dl {
    background-image: url(../images/icons16-24px-02_white.png);
}

.favoritesList div.bulkActionButtons .dropdown dt a:after {
    background-image: url("../images/icons16-24px-02_white.png");
    background-position: 2px -56px;
}

.favoritesList div.bulkActionButtons input[name="email"] {
    background-image:none;
}
.favoritesList div.bulkActionButtons input[name="delete"] {
    background-position: right -1384px;
}
.favoritesList div.bulkActionButtons input[name="export"] {
    background-position: right -1660px; 
}
.favoritesList div.bulkActionButtons a.button {
  background-image:none;
}



/* Main: Advanced Search */

.advancedSearchHelpButton {
    background-image: url(../images/icons16-24px-03_turquoise.png);
    background-position: 1px 1px;
}
#advancedSearchWrapper .searchButton {
    background-image: url(../images/icons16-24px-02_white.png);
    background-position: 12px -996px;
}
#zoomControlPlus, #zoomControlMinus {
    background-image: url(../images/icons16-24px-02_black.png);
}
#zoomControlPlus {
    background-position: -2px -56px;
}
#zoomControlMinus {
    background-position: -2px -112px;
}
.helpIcon, .selectionMapHelpIcon { 
    background-image: url(../images/icons16-24px-02_turquoise.png);
    background-position: -1px 0;
}

/* jQuery UI Elements */

body > .ui-dialog .ui-widget-header .ui-dialog-titlebar-close,
body > .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:hover,
body > .ui-dialog .ui-widget-header .ui-dialog-titlebar-close.ui-state-hover {
    background-image: url(../images/icons16-24px-03_black.png);
    background-position: 0px -728px;
}

/* Datatables */

.dataTable .sorting_asc:after, .dataTable .sorting_desc:after,
.dataTables_paginate .paginate_disabled_previous:before,
.dataTables_paginate .paginate_disabled_next:after {
    background-image: url(../images/icons16-24px-02_grey.png);
}
.dataTable .sorting_asc:after {
    background-position: 5px -2317px;
}
.dataTable .sorting_desc:after {
    background-position: 5px -2268px;
}
.dataTables_paginate .paginate_disabled_previous:before {
    background-position: -1px -2419px;
}
.dataTables_paginate .paginate_disabled_next:after {
    background-position: 10px -2368px;
}
.dataTable .sorting:after {
    background:none;
    /*background-position: 4px -3368px;*/
}
.dataTables_paginate .paginate_enabled_previous:before,
.dataTables_paginate .paginate_enabled_next:after {
    background-image: url(../images/icons16-24px-02_turquoise.png);
}
.dataTables_paginate .paginate_enabled_previous:before {
    background-position: -1px -2419px;
}
.dataTables_paginate .paginate_enabled_next:after {
    background-position: 6px -2368px;
}

/* Myresearch */

.usericon {
	display:inline-block;
	background: url(../images/icons16-24px-04.png) no-repeat;
	background-position: -445px -5px;
	width:30px;
	height:31px;
	margin-right:5px;
	
}

.myResearch .iconlabel:before {
    margin-top:1px;
}
.myResearch .formatdocument:before,
.myResearch .formatphysicalobject:before,
.myResearch .formatmap:before,
.myResearch .formatbook:before,
.myResearch .formatimage:before,
.myResearch .formatjournal:before,
.myResearch .formatmusicalscore:before,
.myResearch .formatthesis:before,
.myResearch .formatworkofart:before,
.myResearch .formatdatabase:before,
.myResearch .formatvideo:before,
.myResearch .formatsound:before,
.myResearch .formatsoundrecording:before,
.myResearch .formatother:before,
.myResearch .formatpaikkarakennus:before {
    background-image: url(../images/icons16-24px-01_black.png);
}
.myResearch .formatdocument:before {
    background-position: 3px -333px;
}
.myResearch .formatphysicalobject:before {
    background-position: 2px -166px;
}
.myResearch .formatmap:before {
    background-position: 1px -109px;
}
.myResearch .formatbook:before {
    background-position: 2px 4px;
}
.myResearch .formatimage:before {
    background-position: 1px -445px;
}
.myResearch .formatjournal:before {
    background-position: 1px -53px;
}
.myResearch .formatmusicalscore:before {
    background-position: 1px -278px;
}
.myResearch .formatthesis:before {
    background-position: 3px -668px;
}
.myResearch .formatworkofart:before {
    background-position: 2px -611px;
}
.myResearch .formatdatabase:before {
    background-position: 1px -223px;
}
.myResearch .formatvideo:before {
    background-position: 2px -556px;
}
.myResearch .formatsound:before,
.myResearch .formatsoundrecording:before {
    background-position: 2px -499px;
}
.myResearch .formatother:before,
.myResearch .formatpaikkarakennus:before {
    background-position: 1px -725px;
}

/*** Webkit hacks ***/

/* TODO: Remove these when a better solution has been found */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    #advancedSearchWrapper .searchButton {
        background-image: url(../images/icons16-24px-02_white.png);
        background-position: 12px -999px;
    }

} 

.NDLCarouselNavi .prev, .NDLCarouselNavi .next {
    background-image: url(../images/icons16-24px-03_black.png);
}
.NDLCarouselNavi .prev:hover, .NDLCarouselNavi .next:hover {
    background-image: url(../images/icons16-24px-03_white.png);
}.NDLCarouselNavi .prev {
    background-position: 0px -920px;
}
.NDLCarouselNavi .next {
    background-position: 0px -984px;
}




