/***** CSS descriptions for the Finna icon set sprite *****/

/*** Elements with 16-24px icons ***/

* {
    background-repeat: no-repeat;
    background-position:0 0;
}


/*** Elements with 32px icons ***/

.SOMETHING {
    background-image: url(../images/icons32px.png);
    background-repeat: no-repeat;
    background-position:0 0;
}

/*** Elements with 32px icons ***/

.resultNoImage {
    background-repeat: no-repeat;
    background-position:0 0;
}

/*** Individual element background positions ***/

/* Navi */

.menuArrow {
    background-image:url("../images/icons16-24px-02.png");
    background-position:-683px -2327px;
    background-repeat:none;
}
.menuHome > a span {
    background-image: url("../images/icons16-24px-02.png");
    background-position: -681px -335px;
}
.menuHome > a:hover span {
    background-position: -820px -335px;
}

/* Common: Buttons */

.deleteButton {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -995px -127px;
}
.deleteButtonSmall {
    background-image: url("../images/icons16-24px-02.png");
    background-position: -992px -163px;
}
.dropdown dt a:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -673px -2324px;
}
.dropdown.catalogAccount dt a:after {
    content: "▾";
    float:right;
    background:none;
}
/* Front page: search suggestion icons */

.iconlabel.formatdocument, 
.iconlabel.formatlegaldocument {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -45px -385px;
}
.iconlabel.formatarticle, .iconlabel.formatnewspaperarticle {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -187px -384px
}
.iconlabel.formatreferenceentry {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -777px;
}
.iconlabel.formatbookchapter {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -187px -47px;
}
.iconlabel.formatphysicalobject {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -218px;
}
.iconlabel.formatmap {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -161px;
}
.iconlabel.formatbook {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -47px;
}
.iconlabel.formatimage {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -495px;
}
.iconlabel.formatjournal {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -104px;
}
.iconlabel.formatmusicalscore,
.iconlabel.formatscore  {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -330px;
}
.iconlabel.formatthesis,
.iconlabel.formatdissertation {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -45px -720px;
}
.iconlabel.formatworkofart {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -663px;
}
 .iconlabel.formatdatabase {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -275px;
}
.iconlabel.formatvideo, 
.iconlabel.formataudiovideo,
.iconlabel.formatvideo {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -606px;
}
.iconlabel.formatsound,
.iconlabel.formatsoundrecording,
.iconlabel.formataudio {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -551px;
}
.iconlabel.formatother,
.iconlabel.formatwebsite
{
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -777px;
}

/* Header: info box */

.toggleBox.openInfoBox {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -679px 0;
}
.toggleBox.closeInfoBox {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -363px -128px;
}


/* Header: Search box */

.advancedLink {
    background-image: url(../images/icons16-24px-03.png);
    background-position:-678px -1132px;
}
.searchbox .dropdown dt a {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -1532px -246px; 
}
a.clear_input {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-1647px -2163px;
}

/* Header: Search suggestions */

.correction .expandSearch {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -46px -56px;
}

/* Header: Breadcrumbs */
.breadcrumbinner > a:first-child {
    background-image: url("../images/icons16-24px-02.png");
    background-position: -681px -330px;
    text-indent: -1000px;
    width: 17px;
}
.breadcrumbinner span.iconlabel {
    margin-right: 7px;
    margin-top: 5px;
    padding: 0;
    width: 18px;
}

.breadcrumbinner span.iconlabel.formatdocument, 
.breadcrumbinner span.iconlabel.formatlegaldocument {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -677px -385px;
}
.breadcrumbinner span.iconlabel.formatarticle, .breadcrumbinner span.iconlabel.formatnewspaperarticle {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -820px -384px
}
.breadcrumbinner span.iconlabel.formatreferenceentry {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -777px;
}
.breadcrumbinner span.iconlabel.formatbookchapter {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -820px -47px;
}
.breadcrumbinner span.iconlabel.formatphysicalobject {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -678px -218px;
}
.breadcrumbinner span.iconlabel.formatmap {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -161px;
}
.breadcrumbinner span.iconlabel.formatbook {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -678px -47px;
}
.breadcrumbinner span.iconlabel.formatimage {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -495px;
}
.breadcrumbinner span.iconlabel.formatjournal {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -104px;
}
.breadcrumbinner span.iconlabel.formatmusicalscore,
.breadcrumbinner span.iconlabel.formatscore  {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -330px;
}
.breadcrumbinner span.iconlabel.formatthesis,
.breadcrumbinner span.iconlabel.formatdissertation {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -677px -720px;
}
.breadcrumbinner span.iconlabel.formatworkofart {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -678px -663px;
}
 .breadcrumbinner span.iconlabel.formatdatabase {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -275px;
}
.breadcrumbinner span.iconlabel.formatvideo, 
.breadcrumbinner span.iconlabel.formataudiovideo,
.breadcrumbinner span.iconlabel.formatvideo {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -678px -606px;
}
.breadcrumbinner span.iconlabel.formatsound,
.breadcrumbinner span.iconlabel.formatsoundrecording,
.breadcrumbinner span.iconlabel.formataudio {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -678px -551px;
}
.breadcrumbinner span.iconlabel.formatother,
.breadcrumbinner span.iconlabel.formatwebsite
{
    background-image: url(../images/icons16-24px-01.png);
    background-position: -679px -777px;
}


/* Main: Result header */
.available:before {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -2047px -1439px;
}
.availableLoc {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -2047px -1398px;
}
.checkedout:before {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -994px -1439px;
}
.checkedoutLoc {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -994px -1398px;
}
.dateVisClear a {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -363px -728px; 
}
.holdPlace:before {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -363px -1398px;
}
.holdPlace, .UBRequestPlace {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -353px -2371px; 
}

/* Main: Search results */

.openurl_more, .info_more {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -365px -2371px; 
}

.openurl_more.expanded, .info_more.expanded {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -365px -2321px;
}

.recordSet .fav {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -361px -2049px;
}
.recordSet .fav:hover {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -361px -2049px;
}

.currentTree, .hierarchyTreeLinkText {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -365px -1497px;
}

#toggleTree {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -365px -1500px;
}
/* Main: Pagination */

.paginationMove.paginationNext.visible {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -362px -983px;
}
.paginationMove.paginationNext {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -1294px -983px;
}

.paginationMove.paginationBack.visible {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -362px -919px;
}
.paginationMove.paginationBack {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -1294px -919px;
}

.paginationMove.paginationLast.visible {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -362px -518px;
}
.paginationMove.paginationLast {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -1294px -518px;
}

.paginationMove.paginationFirst.visible {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -362px -453px;
}
.paginationMove.paginationFirst {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -1294px -453px;
}

/* Main: Search results image icons */

.resultNoImage.formatdocument,
.resultNoImage.formatlegaldocument {
    background-image: url(../images/icons48px-03.png);
    background-position: -8px -735px;
}
.resultNoImage.formatarticle,
.resultNoImage.formatnewspaperarticle {
    background-image: url("../images/icons48px-03.png");
    background-position: -7px -1887px;
}
.resultNoImage.formatphysicalobject {
    background-image: url(../images/icons48px-03.png);
    background-position: -11px -355px;
}
.resultNoImage.formatmap {
    background-image: url(../images/icons48px-03.png);
    background-position: -14px -226px;
}
.resultNoImage.formatbook {
    background-image: url(../images/icons48px-03.png);
    background-position: -12px 34px;
}
.resultNoImage.formatbookchapter {
    background-image: url(../images/icons48px-03.png);
    background-position: -9px -1759px;
}
.resultNoImage.formatimage {
    background-image: url(../images/icons48px-03.png);
    background-position: -14px -988px;
}
.resultNoImage.formatjournal {
    background-image: url(../images/icons48px-03.png);
    background-position: -13px -98px;
}
.resultNoImage.formatmusicalscore {
    background-image: url(../images/icons48px-03.png);
    background-position: -14px -612px;
}
.resultNoImage.formatthesis,
.resultNoImage.formatdissertation {
    background-image: url(../images/icons48px-03.png);
    background-position: -7px -1499px;
}
.resultNoImage.formatworkofart {
    background-image: url(../images/icons48px-03.png);
    background-position: -11px -1370px;
}
.resultNoImage.formatdatabase {
    background-image: url(../images/icons48px-03.png);
    background-position: -13px -482px;
}
.resultNoImage.formatvideo,
.resultNoImage.formataudiovideo {
    background-image: url(../images/icons48px-03.png);
    background-position: -14px -1242px;
}
.resultNoImage.formatsound,
.resultNoImage.formataudio {
    background-image: url(../images/icons48px-03.png);
    background-position: -12px -1113px;
}
.resultNoImage.formatother,
.resultNoImage.formatreferenceentry,
.resultNoImage.formatwebsite {
    background-image: url(../images/icons48px-03.png);
    background-position: -17px -1632px;
}

/* Main: Search tools */

.searchtools li.toolSavedSearch {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-49px -2050px;
}
.searchtools li.toolRssLink {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-49px -1061px;
}
.searchtools li.toolMailSearch {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-49px -1775px;
}

/* Main: facet sidebar */

.dynatree-exp-e span.dynatree-expander, 
.dynatree-exp-ed span.dynatree-expander, 
.dynatree-exp-el span.dynatree-expander, 
.dynatree-exp-edl span.dynatree-expander,
.dynatree-exp-e span.dynatree-expander:hover,
.dynatree-exp-ed span.dynatree-expander:hover, 
.dynatree-exp-el span.dynatree-expander:hover, 
.dynatree-exp-edl span.dynatree-expander:hover {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -1300px -2319px;
}

span.dynatree-expander,
span.dynatree-expander:hover {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -1298px -2369px;
}

.dynatree-loading span.dynatree-expander,
.dynatree-loading span.dynatree-expander:hover,
.dynatree-statusnode-wait span.dynatree-icon {
    background-position: 1px 5px;
    background-image: url("../images/ajax_loading_small.gif");
}

/* Main: Single record view */

.resultLinks .button {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -672px -2414px;
}
.resultLinks .button span {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -679px -950px;
}
.resultscroller .prevRecord {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -362px -920px;
}
.resultscroller .prevRecord.inactive {
    background-position: -1294px -919px;
}
.resultscroller .nextRecord {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -362px -984px;
}
.resultscroller .nextRecord.inactive {
    background-position: -1294px -983px;
}
#addThis .mail {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -359px -1771px;
}
.addthis_button_facebook {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -361px -613px;
}
.addthis_button_twitter {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -361px -667px;
}
.addthis_button_google_plusone_share {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -361px -2480px;
}
.fav {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -364px -2044px;
}
.mail {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -364px -1717px;
        
}
.export {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -364px -1659px;
        
}
.export img {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -363px -2317px;
}
.add {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -357px -49px;
}
.delete {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -357px -158px;
}
.savedHistory .delete {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -158px;
}
.accountList .delete {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -158px;
}
.accountList .edit {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -2098px;
}
label.invalid {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -997px 0px;
}

#holdingstab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -214px;
}
#componentstab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -436px;
}
#commentstab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -1876px;
}
#reviewstab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -212px;
}
#excerpttab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -212px;
}
#hierarchytab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -1493px;
}
#maptab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -53px;
}
#detailstab {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -494px;
}

#tabnav .collectionContent {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -1603px;
}
#tabnav .collectionHierarchy {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -1493px;
}

.citation .moreLink a:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -362px -2318px;
}
.citation .lessLink a:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -362px -2270px;
}

/* Main: Myresearch */

.sessionHistory .add {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -41px -49px;
}
.editItem .edit,
#sidebarFavoritesLists .edit {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -47px -2104px;
}
.editItem .delete,
#sidebarFavoritesLists .delete {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -47px -166px
}
#sidebarFavoritesLists #listAdd {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -492px -48px;
}

/* Main: Advanced Search */

.advancedSearchHelpButton {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -363px 1px;
}
#advancedSearchWrapper .searchButton {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -668px -996px;
}

#zoomControlPlus {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -49px -56px;
}
#zoomControlMinus {
    background-image: url(../images/icons16-24px-02.png);
    background-position: -49px -112px;
}
.helpIcon, .selectionMapHelpIcon { 
    background-image: url(../images/icons16-24px-02.png);
    background-position: -365px 0;
}

/* jQuery UI Elements */

body > .ui-dialog .ui-widget-header .ui-dialog-titlebar-close,
body > .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:hover,
body > .ui-dialog .ui-widget-header .ui-dialog-titlebar-close.ui-state-hover {
    background-image: url(../images/icons16-24px-03.png);
    background-position:-47px -728px;
}

/* Datatables */

.dataTable .sorting_asc:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-1295px -2317px;
}

.dataTable .sorting_desc:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-1295px -2268px;
}

.dataTable .sorting:after {
    background:none;
    /*background-position:-44px -3368px;*/
}
.dataTables_paginate .paginate_disabled_previous:before {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-1301px -2419px;
}
.dataTables_paginate .paginate_enabled_previous:before {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-365px -2419px;
}
.dataTables_paginate .paginate_enabled_next:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-358px -2368px;
}
.dataTables_paginate .paginate_disabled_next:after {
    background-image: url(../images/icons16-24px-02.png);
    background-position:-1292px -2368px;
}

/* Myresearch */

/* Front page: search suggestion icons */

.myResearch .formatdocument {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -45px -385px;
}
.myResearch .formatphysicalobject {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -218px;
}
 .myResearch .formatmap {
     background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -161px;
}
.myResearch .formatbook {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -48px;
}
.myResearch .formatimage {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -495px;
}
.myResearch .formatjournal {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -104px;
}
 .myResearch .formatmusicalscore {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -330px;
}
.myResearch .formatthesis {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -45px -720px;
}
.myResearch .formatworkofart {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -663px;
}
 .myResearch .formatdatabase {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -275px;
}
.myResearch .formatvideo {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -606px;
}
.myResearch .formatsound,
.myResearch .formatsoundrecording {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -46px -551px;
}
.myResearch .formatother {
    background-image: url(../images/icons16-24px-01.png);
    background-position: -47px -777px;
}

/*** Webkit hacks ***/

/* TODO: Remove these when a better solution has been found */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    #advancedSearchWrapper .searchButton {
        background-image: url(../images/icons16-24px-02.png);
        background-position: -668px -999px;
    }

} 

.NDLCarouselNavi .prev {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -47px -920px;
}
.NDLCarouselNavi .prev:hover {
    background-position: -679px -920px;
}
.NDLCarouselNavi .next {
    background-image: url(../images/icons16-24px-03.png);
    background-position: -47px -984px;
}
.NDLCarouselNavi .next:hover {
    background-position: -679px -984px;
}
