[General]
enabled = false
wsdl = 
institution = 
highlight=true

default_side_recommend[] = SideFacets:Facets:CheckboxFacets:PCI

[Basic_Searches]
any           = "All Fields"
title         = Title
creator       = Author
desc          = Description
sub           = Subject
rtype         = "Resource Type"
cdate         = "Creation Date"
isbn          = ISBN
issn          = ISSN
ftext         = "Full Text"
abstract      = Abstract

[Advanced_Searches]
any           = adv_search_all
title         = adv_search_title
creator       = adv_search_author
desc          = adv_search_desc
sub           = adv_search_subject
rtype         = adv_search_type
cdate         = adv_search_date
isbn          = ISBN
issn          = ISSN
ftext         = adv_search_ftext
abstract      = adv_search_abstract

[Sorting]
default = sort_relevance
popularity = sort_popularity
scdate = sort_year
screator = sort_author

[Facets]
tlevel          = facet_pci_tlevel
topic           = facet_pci_topic
pfilter         = facet_pci_pfilter
creator         = facet_pci_creator
lang            = facet_pci_lang
creationdate    = facet_pci_creationdate
jtitle          = facet_pci_jtitle
domain          = facet_pci_domain

[Facet_Settings]
; Any facets named in the list below will have their values run through the 
; translation code; unlisted facets will displayed as-is without translation.  For
; translated facets, be sure that all of the necessary strings are included in the
; language files found in the web/lang directory.  By default, no facets are 
; translated -- uncomment or add lines below to turn on this feature.
translated_facets[] = lang
translated_facets[] = tlevel
translated_facets[] = pfilter
; Prefix to be used in facet translation to avoid mixing facet strings with other
; translated content
facet_translation_prefix = "facet_"