[Prefilters]
-="Whole Local Index"
archives = "Search In Archives"
libraries = "Search In Libraries"
museums = "Search In Museums"
--=
format_Document = format_Document
format_PhysicalObject = format_PhysicalObject
format_Map = format_Map
format_Book = format_Book
format_Image = format_Image
format_Journal = format_Journal
format_Thesis = format_Thesis
format_WorkOfArt = format_WorkOfArt
format_Database = format_Database
format_Video = format_Video
format_Sound = format_Sound
format_MusicalScore = format_MusicalScore
format_Other = format_Other


[-]
module=Search
action=Results

[archives]
module=Search
action=Results
filter[] = "sector_str_mv:\"0/arc/\""

[libraries]
module=Search
action=Results
filter[] = "sector_str_mv:\"0/lib/\""

[museums]
module=Search
action=Results
filter[] = "sector_str_mv:\"0/mus/\""

[format_Book]
module=Search
action=Results
filter[]='format:"0/Book/"'

[format_Database]
module=Search
action=Results
filter[]='format:"0/Database/"'

[format_Document]
module=Search
action=Results
filter[]='format:"0/Document/"'

[format_Image]
module=Search
action=Results
filter[]='format:"0/Image/"'

[format_Journal]
module=Search
action=Results
filter[]='format:"0/Journal/"'

[format_Map]
module=Search
action=Results
filter[]='format:"0/Map/"'

[format_Other]
module=Search
action=Results
filter[]='format:"0/Other/"'

[format_MusicalScore]
module=Search
action=Results
filter[]='format:"0/MusicalScore/"'

[format_PhysicalObject]
module=Search
action=Results
filter[]='format:"0/PhysicalObject/"'

[format_Sound]
module=Search
action=Results
filter[]='format:"0/Sound/"'

[format_MusicalScore]
module=Search
action=Results
filter[]='format:"0/MusicalScore/"'

[format_Thesis]
module=Search
action=Results
filter[]='format:"0/Thesis/"'

[format_Video]
module=Search
action=Results
filter[]='format:"0/Video/"'

[format_WorkOfArt]
module=Search
action=Results
filter[]='format:"0/WorkOfArt/"'
