body {
    background: #4D4D4D;
}
a, .ui-widget-content a {
    color: #00a3b5;
}
.advancedOptions a, .correctionTerms a {
	color:#008596;
}
#header .header-inner {
    background: url("../images/header_top_gradient.png") repeat-x scroll top left transparent;
}
#header, #header.header-home {
    background: url("../images/header_bottom_gradient.png") repeat-x scroll bottom left transparent;
}
#header #logo {
    width:230px;
}
.menuAbout a, .menuFeedback a, .menuHelp a, .menuSearch a, .menuLogin a {
    color: #fff;
}
#headerSeparator {
    border-color: #fff;
}
.menuLogin {
    border-color: #eee;
}
.lang a {
    color: #fff;
}
#header {
    color:#fff;
}
#header .lang li {
    border-color: #eee;
}

/** Content / whoparticipates (organisations) begin  **/
.module-Content #main .whoparticipates .contentSection .content .bodytextwrapper p, 
.module-Content #main .whoparticipates .contentSection .content a.link {
    font-size: 15px !important;
}
.module-Content #main .whoparticipates .contentSection .content .bodytextwrapper p {
    max-width: 790px;
	margin-bottom: 8px;
}
.module-Content #main .whoparticipates .contentSection .content .organisationContainer li {
    font-size: 13px;
}
.module-Content #main .whoparticipates .contentSection .content a.link,
.module-Content #main .whoparticipates .contentSection .forWhomWrapper .domains p {
	margin-left: 3px;
}
.organisationWrapper, .forWhomWrapper {
	margin: 0 3px;	
}
.organisationWrapper h4, .forWhomWrapper h4 {
    font-size: 15px;
}
.organisationWrapper h4, .organisationWrapper h3 {
    margin-left: 5px;
}
.forWhomWrapper h4, .forWhomWrapper h3 {
    margin-left: 3px;
}
.forWhomWrapper a.link {
    display: block;
}
.forWhomWrapper a.link .magnifier {
    display: inline-block;
    width: 22px;
    height: 35px;
	background-image: url("../../ndl/images/icons16-24px-02_turquoise.png");
    background-position: 5px -946px;
}
.organisationContainer {
	margin: 15px 0 6px 0;
}
.forWhomContainer {
	margin: 6px 0 -14px -3px !important;
}
.organisationContainer .organisations, .forWhomContainer .domains {
    margin:0 !important;
	padding:0px 5px 0px 0px;
}
ul.organisations li, .forWhomContainer .domains p, .forWhomContainer .domains a.link  {
    clear: both;
    overflow: auto;
}
ul.organisations li {
    margin: 0;
    margin-top: 1px;
	padding: 0 5px;
    list-style-type: none;
    list-style-position: outside;
	letter-spacing:0.2px;
}
ul.organisations li:nth-child(even) {
	background:#F5F5F5;		
}
ul.organisations li div.name {
    float: left;
    margin-top: 6px;
	margin-bottom:6px;
	max-width: 84%;
}
ul.organisations li div.link {
    float: right;
}
ul.organisations li div.link a {
	background-image: url("../../ndl/images/icons16-24px-02_turquoise.png");
    width: 30px;
    height: 35px;
}
ul.organisations li div.link a {
    background-position: 5px -941px;
    display: block;
    margin-left: 3px;
}
/** end of Content / whoparticipates (organisations)  **/

@media only screen and (max-width: 1020px) {
	.menuLogin {
        border-left: 0 none;
        clear: both;
        margin-top: 13px;
        padding-left: 0;
    }
	.organisationContainer {
		margin: 0 !important;
	}
	.organisationWrapper, .forWhomWrapper {
		margin-left: 3px !important;	
		margin-right:3px !important;
	}
}
@media only screen and (max-width: 730px) {
    #headerMenu {
		max-width: 350px;
    }
	.forWhomContainer {
		margin: 0 0 0 5px !important;
	}
	.grid_7.organisationWrapper, .grid_8.organisationWrapper, .grid_9.organisationWrapper, .grid_10.organisationWrapper, .grid_7.forWhomWrapper, .grid_8.forWhomWrapper, .grid_9.forWhomWrapper, .grid_10.forWhomWrapper {
		width:100% !important;
		clear:both;
		margin-right:0px !important;
    }
	.grid_7.organisationWrapper, .grid_8.organisationWrapper, .grid_9.organisationWrapper, .grid_10.organisationWrapper {
		margin-left:0px !important;
		margin-bottom:30px;
	}
    .grid_7.forWhomWrapper, .grid_8.forWhomWrapper, .grid_9.forWhomWrapper, .grid_10.forWhomWrapper {
        margin-left: -5px !important;
        margin-bottom: 0;
    }
}

#headerMenu ul li span {
    color: #444;
}
#headerMenu ul li span:first-child {
    color: #444;
}
#headerMenu li a:hover span, #headerMenu li a:focus span {
    color: #444;
}
#headerMenu ul.subMenu li {
    border-color: #777;
}

.metalibLink, .showSearchHelp {
    display:none; 
}

div.breadcrumbinner a, div.breadcrumbinner em, div.breadcrumbinner span, div.breadcrumbinner form,
div.breadcrumbs a, div.breadcrumbs li {
    color: #ffffff;
}

#main .contentHeader.loginContentHeader,
.module-Search h2.account,
.module-MyResearch h2.account,
.module-MyResearch h1,
.module-Cart h2,
.myresearchHeader,
.module-Collection #collectionHeader {
    background: #b0e9db;
}

.resultLinks,
.resultTerms {
     background:#B3E3E9;
}

.module-Content #main .contentHeader, 
.module-Feedback #main .contentHeader{
    background:#f3ec7a;
}

span.dynatree-node a:hover {
    color:#00A3B5;
}
span.dynatree-node a {
    color:#00A3B5;
}

.backgroundContainer {
	background-position: left top;
}
.backgroundContainer.background-1 {
    background-image: url("../../national/images/header_background_1.jpg");
}
.backgroundContainer.background-2 {
    background-image: url("../../national/images/header_background_2.jpg");
}
.backgroundContainer.background-3 {
    background-image: url("../../national/images/header_background_3.jpg");
}
.backgroundContainer.background-4 {
    background-image: url("../../national/images/header_background_4.jpg");
}

.tableHeaders {
	font-size:1.2em;
	letter-spacing:0.3px;
	
}
.tableHeaders td {
	border-bottom:3px solid #DCDCDC;
	padding:10px;
	padding-bottom:5px;
}

#mapSearch {
	display:none;
}

.resultHoldingsContainer .holdingsPlaceHold {
	  display: none;
}
