body {
    background: #4D4D4D;
}
a, .ui-widget-content a {
    color: #00a3b5;
}
.advancedOptions a, .correctionTerms a {
	color:#008596;
}
#header .header-inner {
    background: url("../images/header_top_gradient.png") repeat-x scroll top left transparent;
}
#header, #header.header-home {
    background: url("../images/header_bottom_gradient.png") repeat-x scroll bottom left transparent;
}
#header #logo {
    width:230px;
}
.menuAbout a, .menuFeedback a, .menuHelp a, .menuSearch a, .menuLogin a {
    color: #fff;
}
#headerSeparator {
    border-color: #fff;
}
.menuLogin {
    border-color: #eee;
}

.lang a {
    color: #fff;
}
#header {
    color:#fff;
}
#header .lang li {
    border-color: #eee;
}
@media only screen and (max-width: 1020px) {
	.menuLogin {
        border-left: 0 none;
        clear: both;
        margin-top: 13px;
        padding-left: 0;
    }
	.organisationContainer {
		margin:0px !important;
	}
	.organisationWrapper {
		margin-left:3px !important;	
		margin-right:3px !important;
	}
}
@media only screen and (max-width: 730px) {
    #headerMenu {
		max-width: 350px;
    }
	.grid_8.organisationWrapper {
		width:100% !important;
		clear:both;	
		margin-left:0px !important;
		margin-right:0px !important;
		margin-bottom:30px;
	}
}
#headerMenu ul li span {
    color: #444;
}
#headerMenu ul li span:first-child {
    color: #444;
}
#headerMenu li a:hover span, #headerMenu li a:focus span {
    color: #444;
}
#headerMenu ul.subMenu li {
    border-color: #777;
}

.metalibLink, .showSearchHelp {
    display:none; 
}

div.breadcrumbinner a, div.breadcrumbinner em, div.breadcrumbinner span, div.breadcrumbinner form,
div.breadcrumbs a, div.breadcrumbs li {
    color: #ffffff;
}

#main .contentHeader.loginContentHeader,
.module-Search h2.account,
.module-MyResearch h2.account,
.module-MyResearch h1,
.module-Cart h2,
.myresearchHeader,
.module-Collection #collectionHeader {
    background: #b0e9db;
}

.resultLinks,
.resultTerms {
     background:#B3E3E9;
}

.module-Content #main .contentHeader, 
.module-Feedback #main .contentHeader{
    background:#f3ec7a;
}

span.dynatree-node a:hover {
    color:#00A3B5;
}
span.dynatree-node a {
    color:#00A3B5;
}

.backgroundContainer {
	background-position:center top;
}
.backgroundContainer.background-1 {
    background-image: url("../../national/images/header_background_1.jpg");
}
.backgroundContainer.background-2 {
    background-image: url("../../national/images/header_background_2.jpg");
}
.backgroundContainer.background-3 {
    background-image: url("../../national/images/header_background_3.jpg");
}
.backgroundContainer.background-4 {
    background-image: url("../../national/images/header_background_4.jpg");
}

.organsationsTable, .organisationsTable th, .organisationsTable td {
	vertical-align:top;
}
.tableHeaders {
	font-size:1.2em;
	letter-spacing:0.3px;
	
}
.tableHeaders td {
	border-bottom:3px solid #DCDCDC;
	padding:10px;
	padding-bottom:5px;
}

#mapSearch {
	display:none;
}


/** Content/organisations  **/
.organisationContainer {
	margin:0px;	
}
.organisations {
    margin:0 !important;
	padding:0px 5px 0px 0px;
}
.organisationWrapper h4 {
	margin-left:5px;	
}
.organisationWrapper {
	margin:0px 3px;	
}
ul.organisations li {
    clear: both;
    overflow: auto;
    list-style-type: none;
    margin: 0;
    margin-top: 1px;
	padding:0px 5px;
    list-style-position: outside;
	letter-spacing:0.2px;
}
ul.organisations li:nth-child(even) {
	background:#F5F5F5;		
}
.organisations li div.name {
    float: left;
    margin-top: 6px;
	margin-bottom:6px;
	max-width: 84%;
}
.organisations li div.link {
    float: right;
	
    
}
.organisations li div.link a {
    background-image: url("../../ndl/images/icons16-24px-02_turquoise.png");
    background-position: 5px -941px;
    display: block;
    width: 30px;
    height: 35px;
    margin-left: 3px;
}

.resultHoldingsContainer .holdingsPlaceHold {
	  display: none;
}
