/*** Front page ***/

#logo {
}

/*** Header: Blurb */

#blurb {
    margin:20px 0 0;
    padding:0;
    line-height: 1.4;
}

.blurbLine {
    padding: 0 5px 1px 7px;
}

#blurb em {
    font-style: normal;
}
#blurb h2 em {
    color: #addfdb;
}
#blurb h3 em,
#topSearches h2 {
    color: #00a3b5;
}

#main.main-home {
    padding-bottom:0;
}

/* Section: Introduction */

.section .content {
    padding: 0;
}
.section#introduction div[class*="grid"] {
    padding-bottom: 500px; /* Make floated divs seem equally long */
    margin-bottom: -500px; /* Note: parent element must be overflow:hidden */
}
.section#introduction div[class*="container"] {
    overflow:hidden;
}

.section#introduction {
    background:#d8f4ed;
}
.section#introduction #siteDescription,
#topSearches {
    border-right: none;
    padding: 25px 60px 20px 0;
}

.section#introduction .grid_10 {
    background:#fff;
}
.section#introduction div.grid_10 > div {
    overflow:auto;
    padding:25px 30px 30px;
}
.section#introduction ul {
    float:left;
    margin:0;
    padding-left:0;
}
.section#introduction span {
    display: block;
    line-height:1.12em;
}

/* Home section: Carousel */

.section#content-carousel {
    background:#808080;
}

#carousel {
    position:relative;
    text-align:center;
    padding:15px 0;
}
#carousel .ribbon {
    margin: 15px 0 0 -5px;
    overflow:hidden;
    position: absolute;
    white-space:nowrap;
    z-index: 100;
    padding:5px 7px 6px;
}
#carousel .slides_container {
    text-align:left;
    width:100%;
    height:313px;
    overflow:hidden;
}
#carousel .slide ul {
    margin:0;
    padding:0;
}
#carousel .slide li {
    position:relative;
    float:left;
    overflow:hidden;
    cursor:pointer;
}
#carousel .slide img {
    width:100%;
    height:auto;
}
#carousel .slide .pickup-content {
    background:url(../images/black_75.png) repeat;
    position:absolute;
    z-index:101;
    top: 253px;
}
#carousel .slide .pickup-header {
    font-weight: bold;
    height: 45px;
    margin-bottom: 15px;
    overflow: hidden;
    line-height:1.3em;
}
#carousel .open .pickup-header {
    overflow:visible;
    height:60px;
    margin:0;
}
.pickup-header-small {
    font-size: 0.846em;
    font-weight:bold;
}
#carousel .slide .pickup-header span, #carousel .slide .pickup-header-small span {
    padding: 10px 12px;
    display:block;
}
#carousel .slide .pickup-text {
    padding:0 12px 10px;
    color:#eee;
    font-size:0.923em;
}
#carousel .slide * {
    color:#fff;
}
#carousel .slide a {
    margin: 0;
    padding: 8px 0 0;
    white-space:nowrap;
    text-decoration:none;
    color: #fdf07f;
    font-weight:bold;
    display: block
}
#carousel .slide a:hover {
    color: #fdf07f;
    text-decoration:none;
}
#carousel .caption {
    color: #eee;
    font-style: italic;
}
#carousel .slides_container ~ a {
    background-image:url(../images/carousel_arrows.png);
    height:24px;
    width:12px;
    display:block;
    z-index:100;
}
#carousel .slides_container ~ a.disabled {
    display:none;
}
#carousel a.prev {
    background-position:0 0;
    position:absolute;
    left:-22px;
    top:143px;
}
#carousel a.prev:hover {
    background-position:0 -24px;
}
#carousel a.next {
    background-position:-12px 0;
    right:-22px;
    top:143px;
    position:absolute;
}
#carousel a.next:hover {
    background-position:-12px -24px;
}
#carousel .pagination {
    display: inline-block;
    margin: 14px 0 0;
    padding: 0;
    text-align: center;
    width: auto;
}
#carousel .pagination ul,
#carousel .pagination li {
    padding:0;
    margin:0;
    height:6px;
    width:6px;
    float:left;
}
    
#carousel .pagination li {
    margin-right:6px;
}
#carousel .pagination a {
    background-image: url("../images/carousel_arrows.png");
    background-position:-2px 8px;
    border: 0 none;
    display: block;
    height: 6px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 6px;
}
#carousel .pagination .current a {
    background-position: 8px 8px;
}
@media only screen and (max-width: 730px) {
    #content-carousel {
        height: 0px;
        overflow: hidden;
    }
}

/* Section: Popular Searches & Map Search & Timeline */

.section#popular-map,
.section#home-timeline,
.section#home-timeline .resultDates {
    background:#e1eff4;
}

.section#home-timeline .resultDates {
    border-radius: 5px;
    height: auto;
    margin: 0px 0 30px;
    
}
.section#home-timeline #sidePubDateVis {
   border: 1px solid #FAFAFA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 12px -11px #000000;
    max-width: 950px;
    margin-bottom: 5px;
}

.section#home-timeline .content {
    margin-top: 25px;
    padding-left: 8px;
}

.section#home-timeline .resultDates .content {
    background: transparent;
    margin-top: 0;
    padding-left: 5px;
}
.section#home-timeline p.grid_18 {
	margin-bottom:-20px;
}

.section#popular-map .content {
    border-top: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

#popularSearches ul:first-child {
    margin-right:10px;
}
#popularSearches ul {
    float: left;
    margin:0;
    font-size: 1.1em;
    padding: 0;
    width: 230px;
}
#popularSearches li span {
    padding:6px 0 10px;
    display:block;
}
#popularSearches li span:first-child {
    background: url("../images/circle.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-right: 6px;
    padding: 0;
    text-align: center;
    width: 31px;
}
#popularSearches li {
    display:block;
    clear:both;
    margin-bottom:5px;
    line-height:15px;
}

#popularSearches a {
    color: #00a3b5;
    font-weight: bold;
    text-decoration: none;
}

#popularSearches a:hover, #popularSearches a:focus {
    text-decoration: underline;
}

#popularSearches .loading {
    background: url("../images/ajax_loading.gif") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 20px;
}

#mapSearchHome {
    background:url(../images/map_search_bg.jpg) no-repeat;
    padding:25px 40px 0;
    height:254px;
    color:#fff;
}
#mapSearchHome p {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.5em;
}
#mapSearchHome .button {
    margin-top:15px;
    z-index:5;
}


.section#introduction {
    background:#d8f4ed;
}

.home-section.third .loginBoxHome {
    padding:10px 40px;
}
.home-section.third .mapSearchHome p {
    font-size:1.1em;
    font-weight:bold;
    line-height: 1.5em;
}
.home-section.third .mapSearchHome .button {
    margin-top:15px;
    z-index:5;
}


@media only screen and (max-width: 730px) {
    #popular-map .grid_14 {
        padding-top:25px;
    }

}

@media only screen and (max-width: 1020px) {
    #introduction.section #siteDescription, #topSearches {
        padding-top:25px !important;
    }
}


